@font-face {
  font-family: 'oswald';
  src: url("fonts/oswald.eot");
  src: url("fonts/oswald.eot?#iefix") format("embedded-opentype"), url("fonts/oswald.woff2") format("woff2"), url("fonts/oswald.woff") format("woff"), url("fonts/oswald.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* Edge 12+, Internet Explorer 11- */
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  font-size: 68.75%; }

a {
  color: #970D0E;
  text-decoration: underline;
  outline: none;
  /* FireFox link outline fix */ }

a:hover {
  text-decoration: none; }

body {
  margin: 0;
  padding: 0 10px;
  padding: 0 0.90909rem;
  min-height: 100%;
  /* this is the key! */
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-size: 1rem;
  line-height: 1.18182;
  background: #c6aa53 url("../images/bg_diagonal.gif"); }

p {
  margin: 0;
  padding: 0; }

img {
  border: 0; }

input,
select,
textarea {
  -webkit-border-radius: 0;
  /* iOS 8+ */
  border: 1px solid #999999;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 100%;
  vertical-align: middle;
  padding: 3.25px;
  padding: 0.29545rem;
  min-height: 16.25px;
  min-height: 1.47727rem; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* iOS 8+ */ }

input[type="number"] {
  width: auto;
  /* Firefox 36+ */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* Chrome 45+, Safari 9+ */ }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Chrome 45+, Safari 9+ */ }

textarea {
  resize: vertical; }

label {
  margin: 0;
  font-weight: bold;
  color: #444444;
  display: inline-block;
  vertical-align: middle; }

select {
  -moz-appearance: none;
  /* Firefox 40+ */
  -webkit-appearance: none; }

select::-ms-expand {
  display: none;
  /* Edge 12+, Internet Explorer 11- */ }

select::-ms-value {
  color: currentColor;
  /* Edge 12+, Internet Explorer 11- */ }

ul {
  list-style: none; }

ul,
li {
  margin: 0;
  padding: 0; }

#mainContainer ul {
  list-style: disc;
  margin: 13px 0 13px 30px;
  margin: 1.18182rem 0 1.18182rem 2.72727rem; }

#mainContainer li {
  padding: 0 0 6.5px;
  padding: 0 0 0.59091rem; }

h1 {
  font-size: 140%;
  color: #000000;
  padding: 0;
  margin: 0 0 13px 0;
  margin: 0 0 1.18182rem 0;
  font-weight: bold; }

h2 {
  font-size: 130%;
  color: #604D25;
  padding: 0;
  margin: 0;
  font-weight: bold; }

h3 {
  font-size: 120%;
  color: #000000;
  padding: 0;
  margin: 0;
  font-weight: bold;
  display: inline; }

h4 {
  font-size: 110%;
  color: #604D25;
  padding: 0;
  margin: 0;
  font-weight: bold; }

h5 {
  text-transform: capitalize;
  font-size: 110%;
  color: #604D25;
  margin: 0 0 6.5px 0;
  margin: 0 0 0.59091rem 0;
  font-weight: bold; }

h6 {
  font-size: 110%;
  color: #000000;
  padding: 0;
  margin: 0;
  font-weight: bold; }

h6 a {
  text-decoration: none; }

h6 a:hover {
  text-decoration: underline; }

.row > * {
  letter-spacing: normal;
  word-spacing: normal; }

.row {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -20px;
  margin-left: -1.81818rem;
  letter-spacing: -0.4em; }
  .row .o:-o-prefocus, .row {
    word-spacing: -0.43em; }

.column {
  display: inline-block;
  padding-left: 20px;
  padding-left: 1.81818rem;
  vertical-align: top;
  width: 100%;
  letter-spacing: normal;
  word-spacing: normal; }

.row-middle > .column {
  vertical-align: middle; }

.row-skinny, .date-grid {
  margin-left: -10px;
  margin-left: -0.90909rem; }
  .row-skinny > .column, .date-grid > .column {
    padding-left: 10px;
    padding-left: 0.90909rem; }

.c-1 {
  width: 9.09091%; }

.c-2 {
  width: 18.18182%; }

.c-3, .leftNav, .searchBox {
  width: 27.27273%; }

.c-4, .content-aside {
  width: 36.36364%; }

.c-5 {
  width: 45.45455%; }

.c-6 {
  width: 54.54545%; }

.c-7, .content-article {
  width: 63.63636%; }

.c-8, .content-main, .navBar-items {
  width: 72.72727%; }

.c-9 {
  width: 81.81818%; }

.c-10 {
  width: 90.90909%; }

@media only screen and (max-width: 640px) {
  .smalls-c-1 {
    width: 9.09091%; }
  .smalls-c-2 {
    width: 18.18182%; }
  .smalls-c-3 {
    width: 27.27273%; }
  .smalls-c-4 {
    width: 36.36364%; }
  .smalls-c-5 {
    width: 45.45455%; }
  .smalls-c-6 {
    width: 54.54545%; }
  .smalls-c-7 {
    width: 63.63636%; }
  .smalls-c-8 {
    width: 72.72727%; }
  .smalls-c-9 {
    width: 81.81818%; }
  .smalls-c-10 {
    width: 90.90909%; }
  .smalls-c-11, .content-main, .content-article, .content-aside, .leftNav {
    width: 100%; } }

.p-1 {
  left: 9.09091%;
  position: relative; }

.p-2 {
  left: 18.18182%;
  position: relative; }

.p-3 {
  left: 27.27273%;
  position: relative; }

.p-4 {
  left: 36.36364%;
  position: relative; }

.p-5 {
  left: 45.45455%;
  position: relative; }

.p-6 {
  left: 54.54545%;
  position: relative; }

.p-7 {
  left: 63.63636%;
  position: relative; }

.p-8 {
  left: 72.72727%;
  position: relative; }

.p-9 {
  left: 81.81818%;
  position: relative; }

.p-10 {
  left: 90.90909%;
  position: relative; }

.p-0 {
  left: 0; }

@media only screen and (max-width: 640px) {
  .smalls-p-1 {
    left: 9.09091%;
    position: relative; }
  .smalls-p-2 {
    left: 18.18182%;
    position: relative; }
  .smalls-p-3 {
    left: 27.27273%;
    position: relative; }
  .smalls-p-4 {
    left: 36.36364%;
    position: relative; }
  .smalls-p-5 {
    left: 45.45455%;
    position: relative; }
  .smalls-p-6 {
    left: 54.54545%;
    position: relative; }
  .smalls-p-7 {
    left: 63.63636%;
    position: relative; }
  .smalls-p-8 {
    left: 72.72727%;
    position: relative; }
  .smalls-p-9 {
    left: 81.81818%;
    position: relative; }
  .smalls-p-10 {
    left: 90.90909%;
    position: relative; }
  .smalls-p-0 {
    left: 0; } }

.row, .row-middle, .row-skinny, .column, .page, .form-grid input,
.form-grid textarea,
.form-grid select, .searchBox {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper {
  max-width: 840px;
  margin: 0 auto; }

.page {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.35);
     -moz-box-shadow: 0 5px 6px rgba(0, 0, 0, 0.35);
          box-shadow: 0 5px 6px rgba(0, 0, 0, 0.35); }

.content {
  padding: 0 20px 13px 0;
  padding: 0 1.81818rem 1.18182rem 0; }

.content-main {
  padding: 0 20px 26px 20px;
  padding: 0 1.81818rem 2.36364rem 1.81818rem; }
  @media only screen and (max-width: 640px) {
    .content-main {
      padding-left: 40px;
      padding-left: 3.63636rem; } }

.content-article {
  padding-bottom: 26px;
  padding-bottom: 2.36364rem; }

.leftNav {
  padding-bottom: 26px;
  padding-bottom: 2.36364rem; }
  @media only screen and (max-width: 640px) {
    .leftNav {
      padding-right: 20px;
      padding-right: 1.81818rem; } }

.leftNav-items {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 20px;
  margin-left: 1.81818rem;
  border-top: 1px solid #d6cd9e; }

.leftNav-items > li {
  border-bottom: 1px solid #d6cd9e; }

.leftNav-items a {
  padding: .9em .25em;
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 12.1px;
  font-size: 1.1rem; }
  .leftNav-items a:hover {
    background-color: #f9f8f1; }

/*Current page Highlight
 * Important BG color to prevent hover effects
 * Default cursor to prevent indication of click-ability
 */
.hlnav a {
  background-color: #f4ede2 !important;
  cursor: default; }

.primaryPod {
  clear: both;
  overflow: auto;
  -moz-border-radius: 4px;
       border-radius: 4px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 2px -1px rgba(85, 66, 33, 0.4);
     -moz-box-shadow: 0 2px 2px -1px rgba(85, 66, 33, 0.4);
          box-shadow: 0 2px 2px -1px rgba(85, 66, 33, 0.4);
  margin-bottom: 13px;
  margin-bottom: 1.18182rem; }

.primaryPod-head {
  color: #fff;
  font-family: "oswald", Helvetica, Arial, sans-serif;
  font-size: 14.3px;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: #970D0E;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eacfcf), color-stop(5%, #b65656), color-stop(40%, #970D0E));
  background-image: -webkit-linear-gradient(top, #eacfcf, #b65656 5%, #970D0E 40%);
  background-image: linear-gradient(to bottom, #eacfcf, #b65656 5%, #970D0E 40%);
  padding: .65em .5em;
  -moz-border-radius: 4px 4px 0 0;
       border-radius: 4px 4px 0 0; }

.primaryPod-body {
  padding: 13px 10px 19.5px;
  padding: 1.18182rem 0.90909rem 1.77273rem;
  margin: 0;
  list-style: none;
  background-color: #EDE9D4; }

.date-grid > .column {
  padding-bottom: 13px;
  padding-bottom: 1.18182rem;
  vertical-align: middle; }

.form-grid > .column {
  padding-top: 6.5px;
  padding-top: 0.59091rem;
  padding-bottom: 6.5px;
  padding-bottom: 0.59091rem;
  vertical-align: middle; }

.form-grid input,
.form-grid textarea,
.form-grid select {
  width: 100%; }

#form_body {
  margin: 0 0 26px 0;
  margin: 0 0 2.36364rem 0;
  padding: 0; }

.navBar {
  background-color: #970D0E;
  -webkit-box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.2); }
  .navBar:after {
    content: "";
    height: 0.1px;
    display: table;
    clear: both; }

.navBar-items {
  float: left;
  display: table;
  table-layout: auto;
  letter-spacing: -0.4em; }

.navBar-item {
  position: relative;
  display: table-cell;
  vertical-align: middle; }

.navDrop {
  background-color: #970D0E;
  position: absolute;
  top: 100%;
  z-index: 2000;
  min-width: 100%; }
  .with-js .navDrop {
    display: none; }

.navBar-item a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 11px 8px 9px;
  padding: 1rem 0.72727rem 0.81818rem;
  letter-spacing: 0.03em; }
  .navBar-item a:hover {
    background-color: rgba(255, 255, 255, 0.2); }

.navBar-item > a {
  font-size: 17.5px;
  font-size: 1.59091rem;
  min-width: 110px;
  font-family: "oswald", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center; }

.searchBox {
  padding: 10px 0;
  padding: 0.90909rem 0;
  float: left;
  position: relative; }

.searchBox > input {
  display: inline-block;
  vertical-align: middle; }

#q {
  position: absolute;
  left: 8px;
  left: 0.72727rem;
  right: 44px;
  right: 4rem;
  padding: 2px;
  font-size: 10.4px;
  font-size: 0.94545rem; }

.googlite {
  color: #aaa; }

.goog {
  color: #000; }

.searchButton {
  border: 0;
  padding: 1px 18px 0 0;
  float: right;
  width: auto; }

#navBarShadow {
  max-width: 100%;
  height: 6px;
  display: block;
  background: url(../images/bg_navbar_shadow.png) repeat-y;
  z-index: 2;
  position: relative; }

.page-header {
  margin-top: -6px;
  position: relative;
  z-index: 1;
  clear: both; }

.sectionTitle {
  font-size: 42px;
  font-size: 3.81818rem;
  padding: 26px 20px 0;
  padding: 2.36364rem 1.81818rem 0;
  font-family: Times, serif;
  color: #970D0E;
  font-weight: normal; }

.footer {
  background-color: #a78d34;
  padding: 13px 20px;
  padding: 1.18182rem 1.81818rem; }
