@font-face {
  font-family: 'oswald';
  src: url("fonts/oswald.eot");
  src: url("fonts/oswald.eot?#iefix") format("embedded-opentype"), url("fonts/oswald.woff2") format("woff2"), url("fonts/oswald.woff") format("woff"), url("fonts/oswald.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Icon Font
/* Delete this line to include in your site

@font-face {
    font-family: 'smph-icon';
    src: url('fonts/icon.eot');
    src: url('fonts/icon.eot?#iefix') format('embedded-opentype'),
         url('fonts/icon.woff') format('woff'),
         url('fonts/icon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Recommended icon font markup
 * <span class="icon icon-error" aria-hidden="true"></span>
 * OR
 * <span data-icon="&#xe000" aria-hidden="true"></span>
 * (converting a css unicode value to html requires replacing the \ with &#x )
/*

[data-icon]:before {
    content: attr(data-icon);
}

.icon:before,
[data-icon]:before {
    display: inline;
    vertical-align: baseline;
    color: inherit;
    letter-spacing: 0 !important;
    direction: ltr;
    font-family: 'smph-icon' !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    fill: inherit;
    font-feature-setting: 'liga' on;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-error:before {
    content: '\e000';
}

.icon-warn:before {
    content: '\e001';
}

.icon-cancel:before {
    content: '\e005';
}

.icon-external:before {
    content: '\e007';
}

.icon-email:before {
    content: '\e008';
}

.icon-phone:before {
    content: '\e009';
}

.icon-mobile:before {
    content: '\e00a';
}

.icon-x:before {
    content: '\e00b';
}

.icon-plus:before {
    content: '\e00c';
}

.icon-edit:before {
    content: '\e00d';
}

.icon-down:before {
    content: '\e00e';
}

.icon-left:before {
    content: '\e00f';
}

.icon-right:before {
    content: '\e010';
}

.icon-up:before {
    content: '\e011';
}

.icon-desktop:before {
    content: '\e012';
}

.icon-laptop:before {
    content: '\e015';
}

.icon-rx:before {
    content: '\e016';
}

.icon-camera:before {
    content: '\e017';
}

.icon-location:before {
    content: '\e018';
}

.icon-tri-down:before {
    content: '\e019';
}

.icon-tri-up:before {
    content: '\e01a';
}

.icon-building:before {
    content: '\e01b';
}

.icon-car:before {
    content: '\e01c';
}

.icon-updown:before {
    content: '\e01d';
}

.icon-check:before {
    content: '\e01e';
}

.icon-print:before {
    content: '\e01f';
}

.icon-folder:before {
    content: '\e020';
}

.icon-top:before {
    content: '\e023';
}

.icon-bottom:before {
    content: '\e024';
}

.icon-user:before {
    content: '\e025';
}

.icon-download:before {
    content: '\e026';
}

.icon-message:before {
    content: '\e027';
}

.icon-education:before {
    content: '\e028';
}

.icon-east:before {
    content: '\e029';
}

.icon-west:before {
content: '\e02a';
}

.icon-stop:before {
    content: '\e02b';
}

.icon-people:before {
    content: '\e02c';
}

.icon-menu:before {
    content: '\e02d';
}

.icon-help:before {
    content: '\e02e';
}

.icon-search:before {
    content: '\e02f';
}

/**/
html {
  font-size: 75%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* Edge 12+, Internet Explorer 11- */
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
}

@media only screen and (max-width: 684px) {
  html {
    font-size: 70.3125%;
  }
}

body {
  margin: 0;
  padding: 0 12px;
  padding: 0 1rem;
  min-height: 100%;
  /* this is the key! */
  background: #c7ab4c url("../images/bg_pattern_honeycomb_2.png");
  color: #333;
  line-height: 1.25;
  font-size: 12px;
  font-size: 1rem;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 460px) {
  body {
    padding: 0;
  }
}

a {
  outline: none;
  /* FireFox link outline fix */
  color: #970d0e;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #bd1011;
  text-decoration: none;
}

a:active {
  color: #800b0c;
}

a:hover {
  text-decoration: none;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn,
em,
i {
  font-style: italic;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
  font-size: 75%;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Normalize figure margins for all browsers */
figure {
  margin: 0 0 15px;
  margin: 0 0 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

h1 {
  font-size: 1.4em;
  margin-bottom: 15px;
  margin-bottom: 1.25rem;
}

h2 {
  color: #604d25;
  font-size: 1.3em;
}

h3 {
  display: inline-block;
  font-size: 1.25em;
}

h4 {
  color: #604d25;
  font-size: 1.1em;
}

h5 {
  margin-bottom: 7.5px;
  margin-bottom: 0.625rem;
  color: #604d25;
  font-size: 1.1em;
  text-transform: capitalize;
}

h6 {
  font-size: 1.1em;
  font-weight: bold;
}

h6 a {
  text-decoration: none;
}

h6 a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 15px;
  margin: 0 0 1.25rem;
  padding: 0;
}

li {
  margin-bottom: 7.5px;
  margin-bottom: 0.625rem;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type='text'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

input,
select,
textarea {
  border-width: 1px;
  border-style: solid;
  border-color: #b9b3b3;
  -moz-border-radius: 2px;
       border-radius: 2px;
  vertical-align: middle;
  min-height: 18.75px;
  min-height: 1.5625rem;
  padding: 3.75px;
  padding: 0.3125rem;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 100%;
  -webkit-border-radius: 2px;
  /* iOS 8+ */
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  /* iOS 8+ */
}

input[type='number'] {
  width: auto;
  /* Firefox 36+ */
}

input[type='search'] {
  -webkit-appearance: textfield;
  /* Chrome 45+, Safari 9+ */
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Chrome 45+, Safari 9+ */
}

textarea {
  overflow: auto;
  resize: vertical;
}

label {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  color: #504b4e;
  font-weight: bold;
}

select {
  -moz-border-radius: 0;
       border-radius: 0;
  padding: .25em 2em .25em .5em;
  max-width: 100%;
  background-color: #efefef;
  -webkit-appearance: menulist-button;
  -moz-appearance: menulist-button;
}

option {
  font-size: inherit;
}

select::-ms-expand {
  display: none;
  /* Edge 12+, Internet Explorer 11- */
}

select::-ms-value {
  color: currentColor;
  /* Edge 12+, Internet Explorer 11- */
}

input[type='radio'] {
  margin: 0 .35em 0 .5em;
  padding: 0;
  vertical-align: top;
}

input[type='checkbox'] {
  margin: 0 .5em 0 .2em;
  vertical-align: baseline;
}

button,
[type='button'],
input[type='submit'],
.button {
  display: inline-block;
  border: 0.1em solid #890c0d;
  -moz-border-radius: 3px;
       border-radius: 3px;
  background: #970d0e;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: .03em;
  font-family: "oswald", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  -webkit-box-shadow: inset 0 0.9em 0 rgba(255, 255, 255, 0.15);
     -moz-box-shadow: inset 0 0.9em 0 rgba(255, 255, 255, 0.15);
          box-shadow: inset 0 0.9em 0 rgba(255, 255, 255, 0.15);
}

button:hover, button:focus,
[type='button']:hover,
[type='button']:focus,
input[type='submit']:hover,
input[type='submit']:focus,
.button:hover,
.button:focus {
  outline: none;
  border-color: #970d0e;
  background-color: #ae0f10;
  -webkit-box-shadow: inset 0 0.7em 0 rgba(255, 255, 255, 0.2);
     -moz-box-shadow: inset 0 0.7em 0 rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0.7em 0 rgba(255, 255, 255, 0.2);
}

button:active,
[type='button']:active,
input[type='submit']:active,
.button:active {
  border-color: #9c0d0e;
  background-color: #8e0c0d;
  -webkit-box-shadow: inset 0 0.5em 0.6em rgba(80, 75, 78, 0.15), inset 0 0.5em 0 rgba(255, 255, 255, 0.1);
     -moz-box-shadow: inset 0 0.5em 0.6em rgba(80, 75, 78, 0.15), inset 0 0.5em 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0.5em 0.6em rgba(80, 75, 78, 0.15), inset 0 0.5em 0 rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 684px) {
  button,
  [type='button'],
  input[type='submit'],
  .button {
    font-size: 1.5em;
  }
}

/* Responsive grid
 * While there may be many classes,
 * sever compression (gzip), which uses repetition as a means of compression,
 * will keep these from adding too many bytes to your overall css payload
 */
.row > * {
  letter-spacing: normal;
  word-spacing: normal;
}

.row {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -24px;
  margin-left: -2rem;
  letter-spacing: -0.4em;
}

.row .o:-o-prefocus, .row {
  word-spacing: -0.43em;
}

.column {
  display: inline-block;
  padding-left: 24px;
  padding-left: 2rem;
  vertical-align: top;
  width: 100%;
  letter-spacing: normal;
  word-spacing: normal;
}

.row-middle > .column {
  vertical-align: middle;
}

.row-skinny, .infoGrid {
  margin-left: -12px;
  margin-left: -1rem;
}

.row-skinny > .column, .infoGrid > .column {
  padding-left: 12px;
  padding-left: 1rem;
}

.c-1 {
  width: 9.09091%;
}

.c-2 {
  width: 18.18182%;
}

.c-3, .leftNav, .searchBox {
  width: 27.27273%;
}

.c-4, .bodyContent-aside {
  width: 36.36364%;
}

.c-5 {
  width: 45.45455%;
}

.c-6 {
  width: 54.54545%;
}

.c-7, .bodyContent-article {
  width: 63.63636%;
}

.c-8, .bodyContent, .navBar-items {
  width: 72.72727%;
}

.c-9 {
  width: 81.81818%;
}

.c-10 {
  width: 90.90909%;
}

.c-quarter, .footerColumn {
  width: 25%;
}

.c-three-quarters {
  width: 75%;
}

.c-third, .rightPod {
  width: 33.33333%;
}

.c-two-thirds {
  width: 66.66667%;
}

.c-half {
  width: 50%;
}

@media only screen and (max-width: 684px) {
  .smalls-c-1 {
    width: 9.09091%;
  }
  .smalls-c-2 {
    width: 18.18182%;
  }
  .smalls-c-3 {
    width: 27.27273%;
  }
  .smalls-c-4 {
    width: 36.36364%;
  }
  .smalls-c-5 {
    width: 45.45455%;
  }
  .smalls-c-6 {
    width: 54.54545%;
  }
  .smalls-c-7 {
    width: 63.63636%;
  }
  .smalls-c-8 {
    width: 72.72727%;
  }
  .smalls-c-9 {
    width: 81.81818%;
  }
  .smalls-c-10 {
    width: 90.90909%;
  }
  .smalls-c-quarter {
    width: 25%;
  }
  .smalls-c-three-quarters {
    width: 75%;
  }
  .smalls-c-third {
    width: 33.33333%;
  }
  .smalls-c-two-thirds {
    width: 66.66667%;
  }
  .smalls-c-half, .footerColumn {
    width: 50%;
  }
  .smalls-c-11, .bodyContent, .bodyContent-article, .bodyContent-aside, .leftNav {
    width: 100%;
  }
}

.p-1 {
  left: 9.09091%;
  position: relative;
}

.p-2 {
  left: 18.18182%;
  position: relative;
}

.p-3 {
  left: 27.27273%;
  position: relative;
}

.p-4 {
  left: 36.36364%;
  position: relative;
}

.p-5 {
  left: 45.45455%;
  position: relative;
}

.p-6 {
  left: 54.54545%;
  position: relative;
}

.p-7 {
  left: 63.63636%;
  position: relative;
}

.p-8 {
  left: 72.72727%;
  position: relative;
}

.p-9 {
  left: 81.81818%;
  position: relative;
}

.p-10 {
  left: 90.90909%;
  position: relative;
}

.p-quarter {
  left: 25%;
  position: relative;
}

.p-three-quarters {
  left: 75%;
  position: relative;
}

.p-third {
  left: 33.33333%;
  position: relative;
}

.p-two-thirds {
  left: 66.66667%;
  position: relative;
}

.p-half {
  left: 50%;
  position: relative;
}

.p-0 {
  left: 0;
}

@media only screen and (max-width: 684px) {
  .smalls-p-1 {
    left: 9.09091%;
    position: relative;
  }
  .smalls-p-2 {
    left: 18.18182%;
    position: relative;
  }
  .smalls-p-3 {
    left: 27.27273%;
    position: relative;
  }
  .smalls-p-4 {
    left: 36.36364%;
    position: relative;
  }
  .smalls-p-5 {
    left: 45.45455%;
    position: relative;
  }
  .smalls-p-6 {
    left: 54.54545%;
    position: relative;
  }
  .smalls-p-7 {
    left: 63.63636%;
    position: relative;
  }
  .smalls-p-8 {
    left: 72.72727%;
    position: relative;
  }
  .smalls-p-9 {
    left: 81.81818%;
    position: relative;
  }
  .smalls-p-10 {
    left: 90.90909%;
    position: relative;
  }
  .smalls-p-quarter {
    left: 25%;
    position: relative;
  }
  .smalls-p-third {
    left: 33.33333%;
    position: relative;
  }
  .smalls-p-half {
    left: 50%;
    position: relative;
  }
  .smalls-p-0 {
    left: 0;
  }
}

button,
[type='button'],
input[type='submit'],
.button, .row, .row-middle, .row-skinny, .columnRow, .column, .page, .imgGrid-item, .imgMatte, .imgCard-body, .leftNav-items a, .promo-body, .primaryPod, .rightPod, .form-full input,
.form-full textarea,
.finfo-grid select, .banner-body, .banner-nav-item-text, .top-nav-button, .searchBox, .footer, .footerColumn, .footer .linkImage {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.columnRow {
  padding-left: 24px;
  padding-left: 2rem;
  letter-spacing: -.4em;
}

.columnRow .o:-o-prefocus, .columnRow {
  word-spacing: -.43em;
}

/* Responsive wrapper
 * Change max-width to increase your site's total width
 * Only change if you have image headers that support a width larger than 840px
 */
.wrapper {
  margin: 0 auto;
  max-width: 940px;
}

/* Fixed width for non-responsive browsers */
.lt-ie9 .wrapper {
  width: 940px;
}

/* Page wrapper for side shadows and white background */
.page {
  background-color: #fff;
  -webkit-box-shadow:  0 3px 6px 0.3px rgba(0, 0, 0, 0.25);
     -moz-box-shadow:  0 3px 6px 0.3px rgba(0, 0, 0, 0.25);
          box-shadow:  0 3px 6px 0.3px rgba(0, 0, 0, 0.25);
}

.page-inner {
  padding-right: 24px;
  padding-right: 2rem;
}

/* Item groups that should be separated from the previous group */
.group {
  margin-top: 22.5px;
  margin-top: 1.875rem;
}

/* Main article content, used next to a left nav */
.bodyContent {
  padding-bottom: 30px;
  padding-bottom: 2.5rem;
}

/* Main article content for use next to a right sidebar */
.bodyContent-article {
  padding-bottom: 30px;
  padding-bottom: 2.5rem;
}

/* Sidebar content (usually filled with primaryPods)*/
.bodyContent-aside {
  padding-bottom: 30px;
  padding-bottom: 2.5rem;
}

/* Media object
 * Keeps media and adjoining text from wrapping, while staying connected
 * Useful for bios, icons, or comment formatting
 * example:
 * +---+
 * |___| text text text text text
 *       text text text text
 */
.media,
.media-body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.media-img {
  float: left;
}

@media only screen and (max-width: 460px) {
  .media-img {
    max-width: 25%;
  }
}

.media-spaced > .media-body {
  margin-left: 24px;
  margin-left: 2rem;
}

/* Arrangement object
 * Advanced media object that allows vertical alignment(top, middle, bottom)
 * Useful for logos and columns of unequal width.
 * Can be used with multiple arrange -fit and -fill objects.
 * .arrange-fit scales to the width of its content (cannot be absolutely positioned).
 * .arrange-fill takes up the remaining space left over from other -fit modules.
 * vertical-align: middle|bottom|top; must be applied to -fit and -fill modules.
 * example:
 * +---+
 * |   | text text text text text
 * +---+
**/
.arrange {
  display: table;
  table-layout: auto;
}

.arrange-fit,
.arrange-fill {
  display: table-cell;
}

.arrange-fill {
  width: 100%;
}

/* Info Grid
 * Useful as a wrapper for a grid of information where information is formatted as:
 *
 *			Information about
 * Label    the label to the left
 *			of this column
 *
 * Should be used in conjunction with .row and .column
 */
.infoGrid > .column {
  padding-bottom: 15px;
  padding-bottom: 1.25rem;
  vertical-align: middle;
}

@media only screen and (max-width: 684px) {
  .infoGrid > .column {
    left: 0;
    padding-bottom: 0.625rem;
    width: 100%;
  }
  .infoGrid > .column:nth-child(2n+1) {
    margin-top: 1.25rem;
  }
}

/* Image Grid
 * Simple column layout meant for laying out photos
 */
.imgGrid {
  margin-left: -12px;
  margin-left: -1rem;
  padding-bottom: 30px;
  padding-bottom: 2.5rem;
  width: 100%;
  text-align: justify;
}

.imgGrid-item {
  display: inline-block;
  height: 100%;
  padding-left: 12px;
  padding-left: 1rem;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
}

/* Matte Image
 * Images with a white and gray border,
 * like a framed photo with a matte around it
 */
.imgMatte {
  border: 1px solid #cbcbcb;
  padding: 4px;
  background-color: #fff;
}

.imgRight {
  float: right;
  margin-left: 12px;
  margin-left: 1rem;
}

.imgLeft {
  float: left;
  margin-right: 12px;
  margin-right: 1rem;
}

.imgCard {
  border: 1px solid transparent;
  text-align: center;
}

.imgCard:hover {
  border-color: #ede9d4;
}

.imgCard-media {
  max-height: 200px;
  padding: 3.75px;
  padding: 0.3125rem;
}

.imgCard-media > img {
  position: relative;
}

.imgCard-head {
  display: block;
  padding: 7.5px 6px 0;
  padding: 0.625rem 0.5rem 0;
  color: #970d0e;
  letter-spacing: .03em;
  font-family: "oswald", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
}

.imgCard-body {
  margin: 0;
  margin-bottom: 22.5px;
  margin-bottom: 1.875rem;
  overflow: hidden;
  padding: 7.5px 6px 0;
  padding: 0.625rem 0.5rem 0;
  color: #504b4e;
  font-size: .9em;
  text-overflow: ellipsis;
}

.list-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-nav a {
  display: block;
  text-decoration: none;
}

.list-inline {
  list-style: none;
}

.list-inline > li {
  display: inline-block;
}

.leftNav {
  display: inline-block;
  padding-bottom: 30px;
  padding-bottom: 2.5rem;
}

.leftNav-items {
  font-family: Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 684px) {
  .leftNav-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: top;
    -webkit-align-items: top;
       -moz-box-align: top;
        -ms-flex-align: top;
            align-items: top;
  }
}

.leftNav-items > li {
  margin: 0;
  border-bottom: 1px solid #d6cd9e;
  padding: 0;
}

@media only screen and (max-width: 684px) {
  .leftNav-items > li {
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
    -webkit-flex: 2 1 32.5%;
       -moz-box-flex: 2;
        -ms-flex: 2 1 32.5%;
            flex: 2 1 32.5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: -1px;
    border-top: 1px solid #d6cd9e;
    max-width: 32.5%;
    min-height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

@media only screen and (max-width: 460px) {
  .leftNav-items > li {
    -webkit-box-flex: 2;
    -webkit-flex: 2 1 49%;
       -moz-box-flex: 2;
        -ms-flex: 2 1 49%;
            flex: 2 1 49%;
    max-width: 49.5%;
  }
}

.leftNav-items > li:first-child {
  border-top: 1px solid #d6cd9e;
}

.leftNav-items a {
  padding: .9em .25em;
  font-weight: bold;
  font-size: 13px;
  font-size: 1.08333rem;
}

.leftNav-items a:hover, .leftNav-items a:focus {
  background-color: #f9f8f1;
  color: #a00e0f;
}

.leftNav-items a:active {
  background-color: #f5f2e6;
  color: #890c0d;
}

@media only screen and (max-width: 684px) {
  .leftNav-items a {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
    min-height: 100%;
  }
}

/*Current page Highlight
 * Important BG color to prevent hover effects
 * Default cursor to prevent indication of click-ability
 */
.hlnav a {
  background-color: #f4ede2 !important;
  cursor: default;
}

/*Promo buttons */
.promo {
  position: relative;
  margin-bottom: 7.5px;
  margin-bottom: 0.625rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
  overflow: hidden;
  background-color: #ede9d4;
  color: #970d0e;
}

.promo:hover {
  border-top-color: #ae0f10;
  border-bottom-color: #510707;
}

.promo-dark {
  background-color: #504b4e;
}

.promo-img {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: none;
  height: auto;
  min-height: 100%;
}

@media only screen and (max-width: 684px), screen and (max-width: 799px) {
  .promo-img {
    opacity: .25;
  }
}

.promo-faded .promo-img {
  opacity: .25;
}

.lt-ie9 .promo-img {
  top: 0;
}

.promo-rev .promo-img {
  right: auto;
  left: 0;
}

.promo-body {
  display: block;
  position: relative;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  text-decoration: none;
  -webkit-box-shadow: inset 0 2px 1px transparent;
     -moz-box-shadow: inset 0 2px 1px transparent;
          box-shadow: inset 0 2px 1px transparent;
  -webkit-transition: -webkit-box-shadow .1s ease-out;
          transition: -moz-box-shadow .1s ease-out;
          transition: box-shadow .1s ease-out;
}

.promo-body:hover,
.promo-body:focus {
  border-color: #fff;
  -webkit-box-shadow: inset 0 10px 13px -2px rgba(255, 255, 255, 0.35), inset 0 1px 1px 1px rgba(255, 255, 255, 0.25);
     -moz-box-shadow: inset 0 10px 13px -2px rgba(255, 255, 255, 0.35), inset 0 1px 1px 1px rgba(255, 255, 255, 0.25);
          box-shadow: inset 0 10px 13px -2px rgba(255, 255, 255, 0.35), inset 0 1px 1px 1px rgba(255, 255, 255, 0.25);
}

.promo-body:active {
  -webkit-box-shadow: inset 0 40px 40px rgba(0, 0, 0, 0.07);
     -moz-box-shadow: inset 0 40px 40px rgba(0, 0, 0, 0.07);
          box-shadow: inset 0 40px 40px rgba(0, 0, 0, 0.07);
}

.promo-body:before {
  content: '';
  display: inline-block;
  margin-left: -1em;
  width: 1em;
  vertical-align: middle;
  /* Sets the height of the banner responsively; also allows vertical-alignment */
  height: 93.75px;
  height: 7.8125rem;
}

.promo-body-title {
  display: inline-block;
  max-width: 55%;
  vertical-align: middle;
  color: #970d0e;
  white-space: normal;
  padding: 5.25px 6px;
  padding: 0.4375rem 0.5rem;
  font-size: 20px;
  font-size: 1.66667rem;
  font-family: "oswald", Helvetica, Arial, sans-serif;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 684px), screen and (max-width: 799px) {
  .promo-body-title {
    max-width: 80%;
  }
}

.promo-dark .promo-body-title,
.promo-dark .promo-body-sub {
  color: #fff;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}

.promo-body-sub {
  display: block;
  opacity: .8;
  padding-top: .3em;
  color: #b14f49;
  line-height: 1.2;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .65em;
  font-weight: normal;
  text-transform: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
}

/* Right facing arrow */
.promo-body-sub:after {
  content: '\25B6';
  display: inline-block;
  padding-top: 2px;
  vertical-align: middle;
  font-size: 7px;
}

.primaryPod {
  clear: both;
  -moz-border-radius: 4px;
       border-radius: 4px;
  overflow: auto;
  margin-bottom: 15px;
  margin-bottom: 1.25rem;
  -webkit-box-shadow: 0 2px 2px -1px rgba(85, 66, 33, 0.4);
     -moz-box-shadow: 0 2px 2px -1px rgba(85, 66, 33, 0.4);
          box-shadow: 0 2px 2px -1px rgba(85, 66, 33, 0.4);
}

.primaryPod-head {
  -moz-border-radius: 4px 4px 0 0;
       border-radius: 4px 4px 0 0;
  padding: .65em .5em;
  background: #970d0e url("../images/bg_grad-white.png") repeat-x top;
  color: #fff;
  letter-spacing: .05em;
  font-family: "oswald", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-size: 1.25rem;
}

.primaryPod-body {
  margin: 0;
  background-color: #ede9d4;
  padding: 15px 12px 22.5px;
  padding: 1.25rem 1rem 1.875rem;
  list-style: none;
}

.primaryPod p {
  margin-bottom: 7.5px;
  margin-bottom: 0.625rem;
}

.rightPod {
  float: right;
  margin: 0 0 15px 12px;
  margin: 0 0 1.25rem 1rem;
  border: 1px solid #d6cd9e;
  padding: 12px;
  padding: 1rem;
  min-width: 189px;
}

@media only screen and (max-width: 330px) {
  .rightPod {
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    min-width: none;
  }
}

.rightPod p,
.rightPod li {
  padding-bottom: 7.5px;
  padding-bottom: 0.625rem;
}

.rightPod ul {
  margin: 0;
  list-style: none;
}

/* Full-width form inputs
 * Use on the wrapping parent of any form
 * to make sure all input fields fill the entire width of their parent
 */
.form-full input,
.form-full textarea,
.finfo-grid select {
  width: 100%;
}

.form-full input[type='radio'],
.form-full input[type='checkbox'],
.form-full input[type="number"] {
  width: auto;
}

.form-body {
  margin: 0 0 30px 0;
  margin: 0 0 2.5rem 0;
  padding: 0;
}

.pageHeader {
  position: relative;
  clear: both;
  z-index: 2;
  margin-left: 24px;
  margin-left: 2rem;
  -webkit-box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
     -moz-box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
}

.sectionTitle {
  color: #970d0e;
  line-height: 1.1;
  white-space: normal;
  font-family: Times, serif;
  font-size: 3.8em;
  font-weight: normal;
}

/* Standalone title, with no banner background
   Should be used for most pages
*/
.pageHeader > .sectionTitle {
  padding: 30px 24px 0;
  padding: 2.5rem 2rem 0;
}

.banner {
  overflow: hidden;
  background-color: #ede9d4;
  margin-bottom: 30px;
  margin-bottom: 2.5rem;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.banner-dark {
  background-color: #504b4e;
}

.banner-body {
  padding: 15px 30px;
  padding: 1.25rem 2.5rem;
  -webkit-box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
     -moz-box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
  position: relative;
  white-space: nowrap;
  /*prevents line-breaks caused by ::before element */
}

@media only screen and (max-width: 684px) {
  .banner-body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* Allows for text to start on the right, but sit flush left */
.banner-rev .banner-body {
  direction: rtl;
}

@media only screen and (max-width: 684px) {
  .banner-rev .banner-body {
    direction: ltr;
  }
}

.banner-body:before {
  content: '';
  display: inline-block;
  /* Sets the height of the banner responsively; also allows vertical-alignment */
  height: 235px;
  height: 19.58333rem;
  margin-left: -1em;
  width: 1px;
  vertical-align: middle;
}

@media only screen and (max-width: 460px) {
  .banner-body:before {
    margin-left: -1.5em;
  }
}

.banner-short .banner-body:before {
  height: 138px;
  height: 11.5rem;
}

.bannerImg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  max-width: none;
  height: 100%;
}

@media only screen and (max-width: 684px) {
  .bannerImg {
    opacity: .1;
  }
}

.banner-rev .bannerImg {
  right: auto;
  left: 0;
}

.banner-short .bannerImg {
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: auto;
  min-height: 100%;
}

.lt-ie9 .banner-short .bannerImg {
  top: 0;
}

/* Banner text */
.banner .sectionTitle {
  display: inline-block;
  margin-bottom: 0;
  min-width: 45%;
  max-width: 55%;
  vertical-align: middle;
  letter-spacing: .35px;
  direction: ltr;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 684px) {
  .banner .sectionTitle {
    max-width: none;
  }
}

.banner-short .sectionTitle {
  font-size: 3.3em;
}

.banner-dark .sectionTitle {
  color: #fff;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}

.sectionTitle-indent {
  display: block;
  padding-left: .5em;
}

@media only screen and (max-width: 684px) {
  .sectionTitle-indent {
    padding-left: .25em;
  }
}

@media only screen and (max-width: 460px) {
  .sectionTitle-indent {
    padding-left: 0;
  }
}

.sectionTitle-small {
  font-size: .8em;
}

.sectionTitle-large {
  font-size: 1.1em;
}

.sectionTitle-sub {
  display: block;
  color: #655520;
  line-height: 1.5;
  letter-spacing: 0;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: .32em;
  text-shadow: none;
  padding-top: 7.5px;
  padding-top: 0.625rem;
}

@media only screen and (max-width: 684px) {
  .sectionTitle-sub {
    max-width: none;
  }
}

#TESTING {
  what: what;
}

.bannerWidget {
  position: relative;
  margin: 0 0 15px 24px;
  margin: 0 0 1.25rem 2rem;
  max-height: 360px;
  max-height: 30rem;
  overflow: hidden;
}

@media only screen and (max-width: 684px) {
  .bannerWidget {
    max-height: none;
  }
}

.banner-img {
  position: relative;
  z-index: 1;
}

.banner-img a {
  display: block;
  line-height: 0;
  -webkit-box-shadow: inset 25px 0 15px -3px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: inset 25px 0 15px -3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 25px 0 15px -3px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 684px) {
  .banner-img a {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
}

/* Necessary for over-hanging navbar shadow */
.banner-display:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 32px;
  -webkit-box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
     -moz-box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
}

.banner-display img {
  position: relative;
  z-index: -1;
  width: 100%;
}

.banner-caption {
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding-top: 7.5px;
  padding-top: 0.625rem;
  padding-right: 48px;
  padding-right: 4rem;
  padding-bottom: 15px;
  padding-bottom: 1.25rem;
  padding-left: 135px;
  margin-bottom: 22.5px;
  margin-bottom: 1.875rem;
  max-width: 65%;
  background-color: #504b4e;
  background-color: rgba(80, 75, 78, 0.925);
}

@media only screen and (max-width: 684px) {
  .banner-caption {
    position: relative;
    margin-bottom: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: none;
    background-color: #504b4e;
  }
}

@media only screen and (max-width: 684px) {
  .capt {
    height: 124px;
    overflow: hidden;
  }
}

.capt a {
  color: #fff;
  line-height: 1.5;
  font-size: 1.1em;
  text-decoration: none;
}

.capt-title {
  display: block;
  color: #ede9d4;
  line-height: 1.2;
  font-family: Times, serif;
  font-size: 28px;
  font-size: 2.33333rem;
}

.capt-more {
  display: block;
  color: #c16e6e;
  font-weight: bold;
  text-decoration: underline;
}

.banner-nav {
  position: absolute;
  top: 5px;
  bottom: 0;
  left: -10px;
  z-index: 2;
  width: 120px;
  color: #010101;
  letter-spacing: .5;
  font-size: 12px;
}

@media only screen and (max-width: 684px) {
  .banner-nav {
    display: table;
    position: static;
    width: 100%;
  }
}

.banner-nav-item {
  position: relative;
  left: -30px;
  width: 25%;
  /* fallbacks - width and height is assigned via JS */
  height: 25%;
  cursor: pointer;
  -webkit-transition: all 100ms;
          transition: all 100ms;
}

@media only screen and (max-width: 684px) {
  .banner-nav-item {
    display: table-cell;
    position: static;
    height: 65px !important;
  }
}

.banner-nav-item-text {
  float: left;
  border: 4px solid #fff;
  width: 120px;
  height: 90%;
  -webkit-background-size: cover;
          background-size: cover;
  font-size: 0;
  -webkit-box-shadow:  0 3.75px 7.5px 0.35px rgba(0, 0, 0, 0.3125);
     -moz-box-shadow:  0 3.75px 7.5px 0.35px rgba(0, 0, 0, 0.3125);
          box-shadow:  0 3.75px 7.5px 0.35px rgba(0, 0, 0, 0.3125);
}

@media only screen and (max-width: 684px) {
  .banner-nav-item-text {
    border-color: #ede9d4;
    width: 100%;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
}

.banner-nav-item:hover {
  left: -15px;
}

.banner-nav [class*='active'] {
  left: -8px;
  cursor: default;
}

@media only screen and (max-width: 684px) {
  .banner-nav [class*='active'] .banner-nav-item-text {
    border-top-width: 0;
    border-bottom-width: 8px;
    border-color: #504b4e;
  }
}

.newsTicker {
  overflow: hidden;
  margin-bottom: 22.5px;
  margin-bottom: 1.875rem;
}

.newsTicker-head {
  display: table-cell;
  margin-bottom: 0;
  -moz-border-radius: 5px 0 0 5px;
       border-radius: 5px 0 0 5px;
  padding: 2px .35em 0;
  background: #970d0e url("../images/bg_grad-white.png") repeat-x top;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  letter-spacing: .05em;
  white-space: nowrap;
  font-size: 15px;
  font-size: 1.25rem;
  font-family: "oswald", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.newsTicker-body {
  display: table-cell;
  position: relative;
  border: solid #d6cd9e;
  border-width: 1px 1px 1px 0;
  -moz-border-radius: 0 5px 5px 0;
       border-radius: 0 5px 5px 0;
  padding: .5em .75em;
  padding-right: 6em;
  width: 100%;
  overflow: hidden;
  background-color: #ede9d4;
  vertical-align: middle;
}

@media only screen and (max-width: 684px) {
  .newsTicker-body {
    padding-right: 1em;
  }
}

.newsTicker-items {
  float: left;
  max-width: 100%;
  max-height: 1.2em;
  overflow: hidden;
}

.newsTicker-foot {
  position: absolute;
  right: 1em;
  z-index: 1;
  min-width: 6em;
  overflow: hidden;
  background-color: #ede9d4;
  text-align: center;
}

@media only screen and (max-width: 684px) {
  .newsTicker-foot {
    display: none;
  }
}

.printLogo {
  display: none;
}

.skipToContent:focus {
  display: block !important;
  position: absolute !important;
  top: 0;
  left: 0;
  padding: 30px;
  padding: 2.5rem;
  background-color: #fff;
}

/* Site header and "Utility" navigation */
.top {
  position: relative;
  z-index: 3;
  border-top: 1px solid #f0f0f0;
  background-color: #f9f9f9;
  /* IE9 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #fff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #fff 60%, #f2f2f2 100%);
  background-image: linear-gradient(to bottom, #fff 60%, #f2f2f2 100%);
  padding: 15px 24px 0;
  padding: 1.25rem 2rem 0;
}

@media only screen and (max-width: 684px) {
  .top {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
}

/* links to uwhealth.org and med.wisc.edu */
.topLinks {
  position: relative;
  margin: -15px 0 -7.5px -24px;
  margin: -1.25rem 0 -0.625rem -2rem;
  width: 100%;
  padding: 3.75px 24px 7.5px;
  padding: 0.3125rem 2rem 0.625rem;
  text-align: right;
}

@media only screen and (max-width: 460px) {
  .topLinks {
    margin-bottom: 0.9375rem;
    background-color: #eee;
    text-align: center;
  }
}

.topLinks a {
  display: inline-block;
  padding-left: 23px;
  font-size: 11px;
  font-size: 0.91667rem;
  line-height: 2;
  text-decoration: none;
}

.topLinks a:focus {
  text-decoration: underline;
}

.smphLink {
  background: url("../images/topLink_smph.png") left center no-repeat;
  margin-left: 12px;
  margin-left: 1rem;
}

.uwhcLink {
  background: url("../images/topLink_uwhealth.png") left center no-repeat;
}

/* Main logo */
/* Relies on .arrange-fit and .arrange-fill for layout */
/* Uses relative font sizing to scale items together   */
.logo {
  font-size: 34px;
  font-size: 2.83333rem;
  position: relative;
  top: .2em;
  left: -5px;
  z-index: 1;
  line-height: 1;
  text-decoration: none;
}

.logo:hover, .logo:focus {
  opacity: .8;
}

@media only screen and (max-width: 684px) {
  .logo {
    top: 0;
    left: -1%;
    font-size: 2.54em;
    margin: 0.625rem 0;
  }
}

@media only screen and (max-width: 460px) {
  .logo {
    left: -4%;
  }
}

@media only screen and (max-width: 330px) {
  .logo {
    left: -1.6em;
  }
}

.logo-crest,
.logo-type {
  vertical-align: middle;
}

.logo-crest-media {
  display: block;
  position: relative;
  top: -.05em;
  max-width: 2em;
  height: auto;
}

@media only screen and (max-width: 330px) {
  .logo-crest-media {
    max-width: 2.15em;
  }
}

/* Main Logo typography */
.logo-type {
  margin: 0;
  padding-left: .4em;
  color: #970d0e;
  letter-spacing: 1px;
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  font-size: 1em;
  font-weight: normal;
}

.logo-type-addon {
  display: block;
  font-size: .34375em;
  text-indent: 0;
  text-transform: uppercase;
}

.logo-type-top {
  letter-spacing: .5px;
  font-weight: bold;
}

.logo-type-bottom {
  padding-top: .45em;
  color: #444;
  line-height: 1.1;
  letter-spacing: .1em;
}

/* "Utility" Navigation, sits below logo */
.top-nav {
  border-top: 1px solid #fff;
  width: 100%;
  background: transparent url("../images/bg_grad-white.png") repeat-x top left;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  text-align: right;
  padding: 0 24px;
  padding: 0 2rem;
  margin-left: -24px;
  margin-left: -2rem;
}

@media only screen and (max-width: 684px) {
  .top-nav {
    background-image: none;
  }
}

.top-nav li {
  margin-bottom: 0;
}

.top-nav li a {
  padding: 1em .35em;
  color: #604d25;
  font-weight: bold;
  font-size: 11px;
  font-size: 0.91667rem;
}

.top-nav li a:hover {
  color: #970d0e;
}

.top-nav li a:active {
  color: #800b0c;
}

.top-nav li a:focus {
  text-decoration: underline;
}

@media only screen and (max-width: 684px) {
  .top-nav {
    border-bottom: 1px solid rgba(198, 17, 18, 0.3);
    background-color: #970d0e;
    text-align: center;
    -webkit-box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.2);
  }
  .top-nav-items {
    display: none;
    border-top: 1px solid rgba(198, 17, 18, 0.5);
    width: 100%;
    padding: 0 2rem;
    margin-left: -2rem;
    margin-top: 0.625rem;
  }
  .top-nav-items.active {
    display: table;
    table-layout: auto;
  }
  .top-nav-items > li {
    display: table-cell;
    vertical-align: middle;
  }
  .top-nav-items > li a {
    color: #fff !important;
    font-weight: normal;
    padding: 1.875rem 0.5rem;
    word-wrap: break-all;
    word-break: break-word;
  }
  .top-nav-items > li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .top-nav-items > li a:active {
    color: #eacfcf;
  }
}

/* Mobile-only buttons for toggling nav and search */
.top-nav-buttons {
  padding: 7.5px 0;
  padding: 0.625rem 0;
  letter-spacing: -.4em;
  white-space: nowrap;
}

.top-nav-button {
  display: inline-block;
  position: relative;
  margin: 0 4%;
  border: 2px solid rgba(255, 255, 255, 0.35);
  -moz-border-radius: 4px;
       border-radius: 4px;
  padding: .9em 1.5%;
  width: 45%;
  max-width: 130px;
  background: transparent;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1;
  letter-spacing: .06em;
  font-family: "oswald", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-shadow: inset 0 15px 0 rgba(255, 255, 255, 0.1);
     -moz-box-shadow: inset 0 15px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 15px 0 rgba(255, 255, 255, 0.1);
  -webkit-transition: -webkit-box-shadow .1s ease-out;
          transition: -moz-box-shadow .1s ease-out;
          transition: box-shadow .1s ease-out;
}

.top-nav-button:hover, .top-nav-button:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-box-shadow: inset 0 13px 3px -1px rgba(255, 255, 255, 0.15), 0 2px 3px -1px rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 13px 3px -1px rgba(255, 255, 255, 0.15), 0 2px 3px -1px rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 13px 3px -1px rgba(255, 255, 255, 0.15), 0 2px 3px -1px rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.top-nav-button[aria-expanded='true'], .top-nav-button:active {
  border-color: #9c0d0e;
  background-color: #800b0c;
  color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 10px 10px rgba(80, 75, 78, 0.2), inset 0 -1.3em 1px rgba(255, 255, 255, 0.05);
     -moz-box-shadow: inset 0 10px 10px rgba(80, 75, 78, 0.2), inset 0 -1.3em 1px rgba(255, 255, 255, 0.05);
          box-shadow: inset 0 10px 10px rgba(80, 75, 78, 0.2), inset 0 -1.3em 1px rgba(255, 255, 255, 0.05);
}

@media only screen and (max-width: 460px) {
  .top-nav-button {
    margin: 0 2.5%;
  }
}

/* Icons within buttons */
.icon-search {
  position: absolute;
  left: .5em;
  width: 1em;
}

/* "Hamburger" menu icon
 * Created with 3 box-shadows for crispness at all resolutions
 * SVG or icon-fonts create blurred edges when scaled
 */
.icon-menu {
  position: absolute;
  top: 1.15em;
  margin-top: .55em;
  margin-bottom: .55em;
  color: currentColor;
  font-size: 71.42857%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.icon-menu,
.icon-menu:before,
.icon-menu:after {
  display: block;
  -moz-border-radius: 1px;
       border-radius: 1px;
  width: 2em;
  height: .3em;
  background-color: currentColor;
  -webkit-transition-property: background-color, -webkit-transform;
          transition-property: background-color, -moz-transform;
          transition-property: background-color, transform;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.icon-menu:before,
.icon-menu:after {
  content: '';
  position: absolute;
}

.icon-menu:before {
  top: -.55em;
}

.icon-menu:after {
  top: .6em;
}

.navBar {
  *zoom: 1;
  background-color: #970d0e;
}

.navBar:after {
  content: "";
  height: 0.1px;
  display: table;
  clear: both;
}

.navBar-items {
  display: table;
  float: left;
  table-layout: auto;
  letter-spacing: -.4em;
}

@media only screen and (max-width: 799px) {
  .navBar-items {
    float: none;
    padding: 0 2rem;
    margin: auto;
    min-width: 85%;
  }
}

@media only screen and (max-width: 684px) {
  .navBar-items {
    display: none;
    padding: 0.625rem 2rem;
  }
}

.navBar-items.active {
  display: table;
}

.navBar-item {
  display: table-cell;
  position: relative;
  vertical-align: middle;
}

@media only screen and (max-width: 799px) {
  .navBar-item {
    display: inline-block;
    width: 50%;
  }
}

.navBar-item a {
  display: block;
  background-color: transparent;
  color: #fff;
  letter-spacing: .03em;
  text-decoration: none;
  padding: 11px 8px 9px;
  padding: 0.91667rem 0.66667rem 0.75rem;
  -webkit-transition: background-color 100ms ease-out;
          transition: background-color 100ms ease-out;
}

.navBar-item a:hover, .navBar-item a:focus {
  background-color: #ac3d3e;
}

.navBar-item a:active {
  background-color: #800b0c;
}

@media only screen and (max-width: 684px) {
  .navBar-item a {
    padding: 0.9375rem;
  }
}

.navBar-item > a {
  font-size: 18px;
  font-size: 1.5rem;
  min-width: 110px;
  text-align: center;
  font-family: "oswald", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

@media only screen and (min-width: 800px) {
  /* Arrow indicating a drop down */
  .navBar-item.with-drop > a:after {
    content: '';
    position: absolute;
    margin-top: .5em;
    margin-left: .5em;
    border-top: 0.4em solid rgba(255, 255, 255, 0.25);
    border-right: .25em solid transparent;
    border-left: .25em solid transparent;
    width: 0;
    height: 0;
  }
}

.navDrop {
  position: absolute;
  top: 100%;
  z-index: 2000;
  -moz-border-radius: 0 0 3px 3px;
       border-radius: 0 0 3px 3px;
  min-width: 100%;
  background-color: #970d0e;
  padding: 3.75px 0 7.5px;
  padding: 0.3125rem 0 0.625rem;
  -webkit-box-shadow:  0 3.6px 7.2px 0.34px rgba(0, 0, 0, 0.3);
     -moz-box-shadow:  0 3.6px 7.2px 0.34px rgba(0, 0, 0, 0.3);
          box-shadow:  0 3.6px 7.2px 0.34px rgba(0, 0, 0, 0.3);
}

.with-js .navDrop {
  display: none;
}

@media only screen and (max-width: 684px), screen and (max-width: 799px) {
  .navDrop {
    display: none !important;
  }
}

.navDrop a {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.searchBox {
  padding: 10px;
  padding: 0.83333rem;
  position: relative;
  float: left;
}

@media only screen and (max-width: 799px) {
  .searchBox {
    padding: 1.25rem 2rem;
    width: 100%;
  }
}

@media only screen and (max-width: 684px) {
  .searchBox {
    display: none;
  }
}

.searchBox form {
  position: relative;
}

.searchBox.active {
  display: block;
}

.searchBox > input {
  display: inline-block;
  vertical-align: middle;
}

.searchBox label {
  position: absolute;
}

#q {
  border: 1px solid #c61112;
  padding: 2px;
  width: 100%;
  font-size: 12px;
  font-size: 1rem;
}

@media only screen and (max-width: 684px) {
  #q {
    padding: 0.3125rem;
  }
}

.googlite {
  color: #aaa;
}

.goog {
  color: #504b4e;
}

.searchButton {
  position: absolute;
  bottom: -3px;
  right: -10px;
  right: -0.83333rem;
  border: 0;
  padding: 3px 24px 3px 5px;
  padding: 0.25rem 2rem 0.25rem 0.41667rem;
  width: auto;
  height: 100%;
  /*Ensure active state keeps background color*/
  background-color: #970d0e !important;
}

@media only screen and (max-width: 684px) {
  .searchButton {
    right: -2rem;
    padding-left: 1rem;
  }
}

.footer {
  position: relative;
  top: 4px;
  margin-top: -4px;
  margin-bottom: -4px;
  -moz-border-radius: 0 0 5px 5px;
       border-radius: 0 0 5px 5px;
  overflow: auto;
  padding: 7.5px 24px 15px;
  padding: 0.625rem 2rem 1.25rem;
  background-color: #a78d34;
  font-size: 11px;
  font-size: 0.91667rem;
  color: #ede8d6;
}

.footer a {
  color: #ede8d6;
  padding: 2.25px 0;
  padding: 0.1875rem 0;
}

.footer a:hover, .footer a:focus {
  text-decoration: underline;
}

.footer a:active {
  color: #e1d8ba;
}

.footer-head a {
  border-bottom: 1px solid #d2bb6f;
  padding-top: 15px;
  padding-top: 1.25rem;
  color: #fff;
  font-weight: bold;
}

.footer-head a:hover, .footer-head a:focus, .footer-head a:active {
  border-bottom-color: currentColor;
  text-decoration: none;
}

.footerColumn {
  margin-bottom: 30px;
  margin-bottom: 2.5rem;
}

.footerColumn li {
  margin-bottom: 0;
}

.footerCopyright {
  clear: both;
  border-top: 1px solid #d2bb6f;
  overflow: auto;
  padding: 15px 0;
  padding: 1.25rem 0;
}

.lastUpdated {
  float: right;
  text-align: right;
}

@media only screen and (max-width: 684px) {
  .lastUpdated {
    display: block;
    float: none;
    text-align: left;
    margin-bottom: 1.25rem;
  }
}

.footer .linkImage {
  display: inline-block;
  position: relative;
  left: 3%;
  border: 1px solid #f0efed;
  border-top-color: white;
  -moz-border-radius: 4px;
       border-radius: 4px;
  min-height: 46px;
  background: #f0efed url("../images/bg_grad-white.png") repeat-x top left;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  vertical-align: middle;
  text-align: center;
  color: #970d0e;
  white-space: nowrap;
  font-size: .1em;
  text-decoration: none;
  padding: 5.25px 6px;
  padding: 0.4375rem 0.5rem;
  margin: 11.25px 0;
  margin: 0.9375rem 0;
  -webkit-box-shadow:  0 1.5px 3px 0.2px rgba(0, 0, 0, 0.125);
     -moz-box-shadow:  0 1.5px 3px 0.2px rgba(0, 0, 0, 0.125);
          box-shadow:  0 1.5px 3px 0.2px rgba(0, 0, 0, 0.125);
}

.footer .linkImage:before {
  /* Vertically centers images by creating a taller 'ghost' element */
  content: '';
  display: inline-block;
  margin-left: -.5em;
  width: .1em;
  height: 35px;
  vertical-align: middle;
}

@media only screen and (max-width: 460px) {
  .footer .linkImage {
    display: table;
    top: 0;
    left: 0;
    margin-top: 0.9375rem;
    width: 100%;
  }
}

.linkImage:first-child {
  left: 0;
}

.footer .linkImage:hover, .footer .linkImage:focus {
  border-color: #fff;
  border-top-color: #fff;
  background-color: #fff;
  -webkit-background-size: 100% 110%;
          background-size: 100% 110%;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -0.5em 3px rgba(0, 0, 0, 0.08), 0 2px 5px 0.25px rgba(0, 0, 0, 0.19);
     -moz-box-shadow: inset 0 -0.5em 3px rgba(0, 0, 0, 0.08), 0 2px 5px 0.25px rgba(0, 0, 0, 0.19);
          box-shadow: inset 0 -0.5em 3px rgba(0, 0, 0, 0.08), 0 2px 5px 0.25px rgba(0, 0, 0, 0.19);
}

.footer .linkImage:hover .linkImage-logo, .footer .linkImage:focus .linkImage-logo {
  opacity: .85;
}

.footer .linkImage:active {
  border-color: #fff;
  background-color: #e6e5e2;
  -webkit-box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
     -moz-box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
}

.linkImage-logo {
  display: inline-block;
  width: 100%;
  max-width: 140px;
  vertical-align: middle;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyHidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-transition: all .15s ease-out;
          transition: all .15s ease-out;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyHidden.focusable:active,
.visuallyHidden.focusable:focus {
  position: static;
  margin: 0;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
}

.clearFloat {
  clear: both !important;
}

.hide,
[aria-hidden='true'] {
  display: none !important;
}

.inline {
  display: inline !important;
}

.table {
  display: table !important;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
  *display: inline !important;
  /* IE 7 fix */
  *zoom: 1;
}

.padL10 {
  padding-left: 12px !important;
  padding-left: 1rem !important;
}

.padR10 {
  padding-right: 12px !important;
  padding-right: 1rem !important;
}

.padT10 {
  padding-top: 7.5px !important;
  padding-top: 0.625rem !important;
}

.padB10 {
  padding-bottom: 7.5px !important;
  padding-bottom: 0.625rem !important;
}

.padN {
  padding: 0 !important;
}

@media only screen and (min-width: 685px) {
  .bigs-hide {
    display: none !important;
  }
  .bigs-inline {
    display: inline !important;
  }
  .bigs-table {
    display: table !important;
  }
  .bigs-block {
    display: block !important;
  }
  .bigs-inline-block {
    display: inline-block !important;
  }
  .bigs-padL10 {
    padding-left: 1rem !important;
  }
  .bigs-padR10 {
    padding-right: 1rem !important;
  }
  .bigs-padT10 {
    padding-top: 0.625rem !important;
  }
  .bigs-padB10 {
    padding-bottom: 0.625rem !important;
  }
  .bigs-padN {
    padding: 0 !important;
  }
  .whatever10-whatever {
    color: #000;
  }
}

@media only screen and (max-width: 684px) {
  .smalls-hide {
    display: none !important;
  }
  .smalls-inline {
    display: inline !important;
  }
  .smalls-table {
    display: table !important;
  }
  .smalls-block {
    display: block !important;
  }
  .smalls-inline-block {
    display: inline-block !important;
  }
  .smalls-padL10 {
    padding-left: 1rem !important;
  }
  .smalls-padR10 {
    padding-right: 1rem !important;
  }
  .smalls-padT10 {
    padding-top: 0.625rem !important;
  }
  .smalls-padB10 {
    padding-bottom: 0.625rem !important;
  }
  .smalls-padN {
    padding: 0 !important;
  }
}

/* IE8 (and below) safeguards */
.lt-ie9 .bigs-hide {
  display: none !important;
}

.lt-ie9 .bigs-inline {
  display: inline !important;
}

.lt-ie9 .bigs-table {
  display: table !important;
}

.lt-ie9 .bigs-block {
  display: block !important;
}

.lt-ie9 .bigs-inline-block {
  display: inline-block !important;
  *display: inline !important;
  /* IE 7 fix */
  *zoom: 1;
}

.lt-ie9 .bigs-hide {
  display: none !important;
}

.lt-ie9 .bigs-padL10 {
  padding-left: 12px !important;
}

.lt-ie9 .bigs-padR10 {
  padding-right: 12px !important;
}

.lt-ie9 .bigs-padT10 {
  padding-top: 12px !important;
}

.lt-ie9 .bigs-padB10 {
  padding-bottom: 12px !important;
}

.lt-ie9 .bigs-padN {
  padding: 0 !important;
}
