@font-face {
  font-family: 'oswald';
  src: url("fonts/oswald.eot");
  src: url("fonts/oswald.eot?#iefix") format("embedded-opentype"), url("fonts/oswald.woff2") format("woff2"), url("fonts/oswald.woff") format("woff"), url("fonts/oswald.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* Edge 12+, Internet Explorer 11- */
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  font-size: 68.75%;
}

@media only screen and (max-width: 674px) {
  html {
    font-size: 70.3125%;
  }
}

a {
  color: #970D0E;
  text-decoration: underline;
  outline: none;
  /* FireFox link outline fix */
}

a:hover, a:focus {
  text-decoration: none;
  color: #bd1011;
}

a:active {
  color: #800b0c;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0 10px;
  padding: 0 0.90909rem;
  min-height: 100%;
  /* this is the key! */
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-size: 1rem;
  line-height: 1.18182;
  background: #C7AB4C url("../images/bg_pattern_honeycomb_2.png");
  color: #000;
}

@media only screen and (max-width: 460px) {
  body {
    padding: 0;
  }
}

p {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

input,
select,
textarea {
  -webkit-border-radius: 0;
  /* iOS 8+ */
  border: 1px solid #999999;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 100%;
  vertical-align: middle;
  padding: 3.25px;
  padding: 0.29545rem;
  min-height: 16.25px;
  min-height: 1.47727rem;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* iOS 8+ */
}

input[type="number"] {
  width: auto;
  /* Firefox 36+ */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* Chrome 45+, Safari 9+ */
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Chrome 45+, Safari 9+ */
}

textarea {
  resize: vertical;
}

label {
  margin: 0;
  font-weight: bold;
  color: #444444;
  display: inline-block;
  vertical-align: middle;
}

select {
  -moz-appearance: none;
  /* Firefox 40+ */
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
  /* Edge 12+, Internet Explorer 11- */
}

select::-ms-value {
  color: currentColor;
  /* Edge 12+, Internet Explorer 11- */
}

img {
  max-width: 100%;
}

h1 {
  font-size: 140%;
  padding: 0;
  margin: 0 0 13px 0;
  margin: 0 0 1.18182rem 0;
  font-weight: bold;
}

h2 {
  font-size: 130%;
  color: #604D25;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

h3 {
  font-size: 120%;
  color: #000000;
  padding: 0;
  margin: 0;
  font-weight: bold;
  display: inline;
}

h4 {
  font-size: 110%;
  color: #604D25;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

h5 {
  text-transform: capitalize;
  font-size: 110%;
  color: #604D25;
  margin: 0 0 6.5px 0;
  margin: 0 0 0.59091rem 0;
  font-weight: bold;
}

h6 {
  font-size: 110%;
  color: #000000;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

h6 a {
  text-decoration: none;
}

h6 a:hover {
  text-decoration: underline;
}

/* Responsive grid
 * While there may be many classes,
 * sever compression (gzip), which uses repetition as a means of compression,
 * will keep these from adding too many bytes to your overall css payload
 */
.row > * {
  letter-spacing: normal;
  word-spacing: normal;
}

.row {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -20px;
  margin-left: -1.81818rem;
  letter-spacing: -0.4em;
}

.row .o:-o-prefocus, .row {
  word-spacing: -0.43em;
}

.column {
  display: inline-block;
  padding-left: 20px;
  padding-left: 1.81818rem;
  vertical-align: top;
  width: 100%;
  letter-spacing: normal;
  word-spacing: normal;
}

.row-middle > .column {
  vertical-align: middle;
}

.row-skinny, .date-grid {
  margin-left: -10px;
  margin-left: -0.90909rem;
}

.row-skinny > .column, .date-grid > .column {
  padding-left: 10px;
  padding-left: 0.90909rem;
}

.c-1 {
  width: 9.09091%;
}

.c-2 {
  width: 18.18182%;
}

.c-3, .leftNav, .searchBox {
  width: 27.27273%;
}

.c-4, .bodyContent-aside {
  width: 36.36364%;
}

.c-5 {
  width: 45.45455%;
}

.c-6 {
  width: 54.54545%;
}

.c-7, .bodyContent-article {
  width: 63.63636%;
}

.c-8, .bodyContent, .navBar-items {
  width: 72.72727%;
}

.c-9 {
  width: 81.81818%;
}

.c-10 {
  width: 90.90909%;
}

.c-quarter, .footerColumn {
  width: 25%;
}

.c-three-quarters {
  width: 75%;
}

.c-third, .rightPod {
  width: 33.33333%;
}

.c-two-thirds {
  width: 66.66667%;
}

.c-half {
  width: 50%;
}

@media only screen and (max-width: 674px) {
  .smalls-c-1 {
    width: 9.09091%;
  }
  .smalls-c-2 {
    width: 18.18182%;
  }
  .smalls-c-3 {
    width: 27.27273%;
  }
  .smalls-c-4 {
    width: 36.36364%;
  }
  .smalls-c-5 {
    width: 45.45455%;
  }
  .smalls-c-6 {
    width: 54.54545%;
  }
  .smalls-c-7 {
    width: 63.63636%;
  }
  .smalls-c-8 {
    width: 72.72727%;
  }
  .smalls-c-9 {
    width: 81.81818%;
  }
  .smalls-c-10 {
    width: 90.90909%;
  }
  .smalls-c-quarter {
    width: 25%;
  }
  .smalls-c-three-quarters {
    width: 75%;
  }
  .smalls-c-third {
    width: 33.33333%;
  }
  .smalls-c-two-thirds {
    width: 66.66667%;
  }
  .smalls-c-half, .footerColumn {
    width: 50%;
  }
  .smalls-c-11, .bodyContent, .bodyContent-article, .bodyContent-aside, .leftNav {
    width: 100%;
  }
}

.p-1 {
  left: 9.09091%;
  position: relative;
}

.p-2 {
  left: 18.18182%;
  position: relative;
}

.p-3 {
  left: 27.27273%;
  position: relative;
}

.p-4 {
  left: 36.36364%;
  position: relative;
}

.p-5 {
  left: 45.45455%;
  position: relative;
}

.p-6 {
  left: 54.54545%;
  position: relative;
}

.p-7 {
  left: 63.63636%;
  position: relative;
}

.p-8 {
  left: 72.72727%;
  position: relative;
}

.p-9 {
  left: 81.81818%;
  position: relative;
}

.p-10 {
  left: 90.90909%;
  position: relative;
}

.p-quarter {
  left: 25%;
  position: relative;
}

.p-three-quarters {
  left: 75%;
  position: relative;
}

.p-third {
  left: 33.33333%;
  position: relative;
}

.p-two-thirds {
  left: 66.66667%;
  position: relative;
}

.p-half {
  left: 50%;
  position: relative;
}

.p-0 {
  left: 0;
}

@media only screen and (max-width: 674px) {
  .smalls-p-1 {
    left: 9.09091%;
    position: relative;
  }
  .smalls-p-2 {
    left: 18.18182%;
    position: relative;
  }
  .smalls-p-3 {
    left: 27.27273%;
    position: relative;
  }
  .smalls-p-4 {
    left: 36.36364%;
    position: relative;
  }
  .smalls-p-5 {
    left: 45.45455%;
    position: relative;
  }
  .smalls-p-6 {
    left: 54.54545%;
    position: relative;
  }
  .smalls-p-7 {
    left: 63.63636%;
    position: relative;
  }
  .smalls-p-8 {
    left: 72.72727%;
    position: relative;
  }
  .smalls-p-9 {
    left: 81.81818%;
    position: relative;
  }
  .smalls-p-10 {
    left: 90.90909%;
    position: relative;
  }
  .smalls-p-quarter {
    left: 25%;
    position: relative;
  }
  .smalls-p-third {
    left: 33.33333%;
    position: relative;
  }
  .smalls-p-half {
    left: 50%;
    position: relative;
  }
  .smalls-p-0 {
    left: 0;
  }
}

.row, .row-middle, .row-skinny, .columnRow, .column, .page, .imgMatte, .leftNav-items a, .rightPod, .form-grid input,
.form-grid textarea,
.form-grid select, .top-nav-button, .searchBox, .banner-body, .banner-nav-item-text, .footer, .footerColumn, .footer .linkImage {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.columnRow {
  padding-left: 20px;
  padding-left: 1.81818rem;
  letter-spacing: -0.4em;
}

.columnRow .o:-o-prefocus, .columnRow {
  word-spacing: -0.43em;
}

/* Responsive wrapper
 * Change max-width to increase your site's total width
 * Only change if you have image headers that support a width larger than 840px
 */
.wrapper {
  max-width: 840px;
  margin: 0 auto;
}

/* Fixed width for non-responsive browsers */
.lt-ie9 .wrapper {
  width: 840px;
}

/* Page wrapper for side shadows and white background */
.page {
  background-color: #fff;
  -webkit-box-shadow:  0 3px 6px 0.3px rgba(0, 0, 0, 0.25);
     -moz-box-shadow:  0 3px 6px 0.3px rgba(0, 0, 0, 0.25);
          box-shadow:  0 3px 6px 0.3px rgba(0, 0, 0, 0.25);
}

.page-inner {
  padding-right: 20px;
  padding-right: 1.81818rem;
}

/* Main article content, used next to a left nav */
.bodyContent {
  padding-bottom: 26px;
  padding-bottom: 2.36364rem;
}

/* Main article content for use next to a right sidebar */
.bodyContent-article {
  padding-bottom: 26px;
  padding-bottom: 2.36364rem;
}

/* Sidebar content (usually filled with primaryPods)*/
.bodyContent-aside {
  padding-bottom: 26px;
  padding-bottom: 2.36364rem;
}

/* Media object
 * Keeps media and adjoining text from wrapping, while staying connected
 * Useful for bios, icons, or comment formatting
 * example:
 * +---+
 * |___| text text text text text
 *       text text text text
 */
.media,
.media-body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.media-img {
  float: left;
}

@media only screen and (max-width: 460px) {
  .media-img {
    max-width: 25%;
  }
}

.media-spaced > .media-body {
  margin-left: 20px;
  margin-left: 1.81818rem;
}

/* Arrangement object
 * Advanced media object that allows vertical alignment(top, middle, bottom)
 * Useful for logos and columns of unequal width.
 * Can be used with multiple arrange -fit and -fill objects.
 * .arrange-fit scales to the width of its content (cannot be absolutely positioned).
 * .arrange-fill takes up the remaining space left over from other -fit modules.
 * vertical-align: middle|bottom|top; must be applied to -fit and -fill modules.
 * example:
 * +---+
 * |   | text text text text text
 * +---+
**/
.arrange {
  display: table;
  table-layout: auto;
}

.arrange-fit,
.arrange-fill {
  display: table-cell;
}

.arrange-fill {
  width: 100%;
}

/* Images with a white and gray border,
 * like a framed photo with a matte around it
 */
.imgMatte {
  padding: 4px;
  border: 1px solid #cbcbcb;
  background-color: #fff;
}

.imgRight {
  float: right;
  margin-left: 10px;
  margin-left: 0.90909rem;
}

.imgLeft {
  float: left;
  margin-right: 10px;
  margin-right: 0.90909rem;
}

.list-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-nav a {
  display: block;
  text-decoration: none;
}

.list-inline {
  list-style: none;
}

.list-inline > li {
  display: inline-block;
}

.leftNav {
  display: inline-block;
  padding-bottom: 26px;
  padding-bottom: 2.36364rem;
}

.leftNav-items {
  font-family: Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 674px) {
  .leftNav-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: top;
    -webkit-align-items: top;
       -moz-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.leftNav-items > li {
  border-bottom: 1px solid #d6cd9e;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 674px) {
  .leftNav-items > li {
    display: inline-block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 2;
    -webkit-flex: 2 1 32.5%;
       -moz-box-flex: 2;
        -ms-flex: 2 1 32.5%;
            flex: 2 1 32.5%;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    max-width: 32.5%;
    border-top: 1px solid #d6cd9e;
    margin-bottom: -1px;
    min-height: 44px;
  }
}

@media only screen and (max-width: 460px) {
  .leftNav-items > li {
    -webkit-box-flex: 2;
    -webkit-flex: 2 1 49%;
       -moz-box-flex: 2;
        -ms-flex: 2 1 49%;
            flex: 2 1 49%;
    max-width: 49.5%;
  }
}

.leftNav-items > li:first-child {
  border-top: 1px solid #d6cd9e;
}

.leftNav-items a {
  padding: .9em .25em;
  font-weight: bold;
  font-size: 12.1px;
  font-size: 1.1rem;
}

.leftNav-items a:hover, .leftNav-items a:focus {
  color: #a00e0f;
  background-color: #f9f8f1;
}

.leftNav-items a:active {
  color: #890c0d;
  background-color: #f5f2e6;
}

@media only screen and (max-width: 674px) {
  .leftNav-items a {
    width: 100%;
    min-height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

/*Current page Highlight
 * Important BG color to prevent hover effects
 * Default cursor to prevent indication of click-ability
 */
.hlnav a {
  background-color: #f4ede2 !important;
  cursor: default;
}

.primaryPod {
  clear: both;
  overflow: auto;
  -moz-border-radius: 4px;
       border-radius: 4px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 2px -1px rgba(85, 66, 33, 0.4);
     -moz-box-shadow: 0 2px 2px -1px rgba(85, 66, 33, 0.4);
          box-shadow: 0 2px 2px -1px rgba(85, 66, 33, 0.4);
  margin-bottom: 13px;
  margin-bottom: 1.18182rem;
}

.primaryPod-head {
  color: #fff;
  font-family: "oswald", Helvetica, Arial, sans-serif;
  font-size: 14.3px;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: #970D0E;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), color-stop(5%, rgba(255, 255, 255, 0.3)), color-stop(40%, transparent));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3) 5%, transparent 40%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3) 5%, transparent 40%);
  padding: .65em .5em;
  -moz-border-radius: 4px 4px 0 0;
       border-radius: 4px 4px 0 0;
}

.primaryPod-body {
  padding: 13px 10px 19.5px;
  padding: 1.18182rem 0.90909rem 1.77273rem;
  margin: 0;
  list-style: none;
  background-color: #EDE9D4;
}

.primaryPod p {
  margin-bottom: 6.5px;
  margin-bottom: 0.59091rem;
}

.date-grid > .column {
  padding-bottom: 13px;
  padding-bottom: 1.18182rem;
  vertical-align: middle;
}

.rightPod {
  float: right;
  min-width: 189px;
  margin: 0 0 13px 10px;
  margin: 0 0 1.18182rem 0.90909rem;
  padding: 11px;
  padding: 1rem;
  border: 1px solid #d6cd9e;
}

@media only screen and (max-width: 330px) {
  .rightPod {
    width: 100%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    min-width: none;
  }
}

.rightPod p,
.rightPod li {
  padding-bottom: 6.5px;
  padding-bottom: 0.59091rem;
}

.rightPod ul {
  list-style: none;
  margin: 0;
}

.form-grid > .column {
  padding-top: 6.5px;
  padding-top: 0.59091rem;
  padding-bottom: 6.5px;
  padding-bottom: 0.59091rem;
  vertical-align: middle;
}

.form-grid input,
.form-grid textarea,
.form-grid select {
  width: 100%;
}

#form_body {
  margin: 0 0 26px 0;
  margin: 0 0 2.36364rem 0;
  padding: 0;
}

.printLogo {
  display: none;
}

.skipToContent:focus {
  position: absolute !important;
  left: 0;
  top: 0;
  background-color: #fff;
  padding: 26px;
  padding: 2.36364rem;
  display: block !important;
}

/* Site header and "Utility" navigation */
.top {
  border-top: 1px solid #f0f0f0;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #fff), color-stop(90%, #f2f2f2), to(#c0c0c0));
  background-image: -webkit-linear-gradient(top, #fff 60%, #f2f2f2 90%, #c0c0c0 100%);
  background-image: linear-gradient(to bottom, #fff 60%, #f2f2f2 90%, #c0c0c0 100%);
  padding: 13px 20px 0;
  padding: 1.18182rem 1.81818rem 0;
  position: relative;
  z-index: 3;
}

@media only screen and (max-width: 674px) {
  .top {
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  }
}

/* links to uwhealth.org and med.wisc.edu */
.topLinks {
  width: 100%;
  text-align: right;
  position: relative;
  padding: 3.25px 20px 6.5px;
  padding: 0.29545rem 1.81818rem 0.59091rem;
  margin: -13px 0 -6.5px -20px;
  margin: -1.18182rem 0 -0.59091rem -1.81818rem;
}

@media only screen and (max-width: 460px) {
  .topLinks {
    text-align: center;
    margin-bottom: 9.75px;
    margin-bottom: 0.88636rem;
    background-color: #eee;
  }
}

.topLinks a {
  font-size: 11px;
  font-size: 1rem;
  text-decoration: none;
  line-height: 2;
  display: inline-block;
  padding-left: 23px;
}

.topLinks a:focus {
  text-decoration: underline;
}

.smphLink {
  background: url(../images/topLink_smph.png) left center no-repeat;
  margin-left: 10px;
  margin-left: 0.90909rem;
}

.uwhcLink {
  background: url(../images/topLink_uwhealth.png) left center no-repeat;
}

/* Main logo */
/* Relies on .arrange-fit and .arrange-fill for layout */
/* Uses relative font sizing to scale items together   */
.logo {
  font-size: 31.9px;
  font-size: 2.9rem;
  line-height: 1;
  text-decoration: none;
  position: relative;
  top: .2em;
  left: -5px;
  z-index: 1;
}

.logo:hover, .logo:focus {
  opacity: 0.8;
}

@media only screen and (max-width: 674px) {
  .logo {
    left: -1%;
    top: 0;
    font-size: 2.54em;
    margin: 6.5px 0;
    margin: 0.59091rem 0;
  }
}

@media only screen and (max-width: 460px) {
  .logo {
    left: -4%;
  }
}

@media only screen and (max-width: 330px) {
  .logo {
    left: -1.6em;
  }
}

.logo-crest,
.logo-type {
  vertical-align: middle;
}

.logo-crest-media {
  display: block;
  max-width: 2em;
  height: auto;
  position: relative;
  top: -.05em;
}

@media only screen and (max-width: 330px) {
  .logo-crest-media {
    max-width: 2.15em;
  }
}

/* Main Logo typography */
.logo-type {
  margin: 0;
  padding-left: .4em;
  color: #970D0E;
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 1px;
}

.logo-type-addon {
  text-indent: 0;
  display: block;
  text-transform: uppercase;
  font-size: .34375em;
}

.logo-type-top {
  font-weight: bold;
  letter-spacing: .5px;
}

.logo-type-bottom {
  padding-top: .45em;
  color: #444;
  line-height: 1.1;
  letter-spacing: .1em;
}

/* "Utility" Navigation, sits below logo */
.top-nav {
  width: 100%;
  text-align: right;
  padding: 0 20px;
  padding: 0 1.81818rem;
  margin-left: -20px;
  margin-left: -1.81818rem;
  border-top: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.65);
}

.top-nav li a {
  font-weight: bold;
  color: #675028;
  padding: 11px 3.85px;
  padding: 1rem 0.35rem;
  font-size: 11px;
  font-size: 1rem;
}

.top-nav li a:hover {
  color: #970D0E;
}

.top-nav li a:active {
  color: #800b0c;
}

.top-nav li a:focus {
  text-decoration: underline;
}

@media only screen and (max-width: 674px) {
  .top-nav {
    -webkit-box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.2);
    background-color: #970D0E;
    border-bottom: 1px solid rgba(198, 17, 18, 0.3);
    text-align: center;
  }
  .top-nav-items {
    border-top: 1px solid rgba(104, 9, 10, 0.5);
    width: 100%;
    padding: 0 20px;
    padding: 0 1.81818rem;
    margin-left: -20px;
    margin-left: -1.81818rem;
    margin-top: 6.5px;
    margin-top: 0.59091rem;
    display: none;
  }
  .top-nav-items.active {
    display: table;
    table-layout: auto;
  }
  .top-nav-items > li {
    display: table-cell;
    vertical-align: middle;
  }
  .top-nav-items > li a {
    color: #fff !important;
    font-weight: normal;
    padding: 19.5px 5px;
    padding: 1.77273rem 0.45455rem;
    word-wrap: break-all;
    word-break: break-word;
  }
  .top-nav-items > li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .top-nav-items > li a:active {
    color: #eacfcf;
  }
}

/* Mobile-only buttons for toggling nav and search */
.top-nav-buttons {
  padding: 6.5px 0;
  padding: 0.59091rem 0;
  letter-spacing: -0.4em;
  white-space: nowrap;
}

.top-nav-button {
  font-family: "oswald", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.06em;
  font-weight: normal;
  padding: .9em 1.5%;
  margin: 0 4%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.35);
  -moz-border-radius: 4px;
       border-radius: 4px;
  width: 45%;
  max-width: 130px;
  position: relative;
  -webkit-box-shadow: inset 0 15px 0 rgba(255, 255, 255, 0.1);
     -moz-box-shadow: inset 0 15px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 15px 0 rgba(255, 255, 255, 0.1);
  -webkit-transition: -webkit-box-shadow .1s ease-out;
          transition: -moz-box-shadow .1s ease-out;
          transition: box-shadow .1s ease-out;
}

.top-nav-button:hover, .top-nav-button:focus {
  color: #fff;
  outline: none;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: inset 0 13px 3px -1px rgba(255, 255, 255, 0.15), 0 2px 3px -1px rgba(0, 0, 0, 0.2), 0 4px 4px 0px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 13px 3px -1px rgba(255, 255, 255, 0.15), 0 2px 3px -1px rgba(0, 0, 0, 0.2), 0 4px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 13px 3px -1px rgba(255, 255, 255, 0.15), 0 2px 3px -1px rgba(0, 0, 0, 0.2), 0 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.top-nav-button[aria-expanded="true"], .top-nav-button:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #800b0c;
  border-color: #9c0d0e;
  -webkit-box-shadow: inset 0 10px 10px rgba(64, 63, 63, 0.2);
     -moz-box-shadow: inset 0 10px 10px rgba(64, 63, 63, 0.2);
          box-shadow: inset 0 10px 10px rgba(64, 63, 63, 0.2);
}

@media only screen and (max-width: 460px) {
  .top-nav-button {
    margin: 0 2.5%;
  }
}

/* Icons within buttons */
.icon-search {
  position: absolute;
  left: .5em;
  width: 1em;
}

/* "Hamburger" menu icon
 * Created with 3 box-shadows for crispness at all resolutions
 * SVG or icon-fonts create blurred edges when scaled
 */
.icon-menu {
  font-size: 71.42857%;
  color: currentColor;
  position: relative;
  margin-top: .55em;
  margin-bottom: .55em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 1.15em;
}

.icon-menu,
.icon-menu:before,
.icon-menu:after {
  display: block;
  width: 2em;
  height: .3em;
  background-color: currentColor;
  -moz-border-radius: 1px;
       border-radius: 1px;
  -webkit-transition-property: background-color, -webkit-transform;
          transition-property: background-color, -moz-transform;
          transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.icon-menu:before,
.icon-menu:after {
  position: absolute;
  content: "";
}

.icon-menu:before {
  top: -.55em;
}

.icon-menu:after {
  top: .6em;
}

.navBar {
  background-color: #970D0E;
  *zoom: 1;
}

.navBar:after {
  content: "";
  height: 0.1px;
  display: table;
  clear: both;
}

.navBar-items {
  float: left;
  display: table;
  table-layout: auto;
  letter-spacing: -0.4em;
}

@media only screen and (max-width: 775px) {
  .navBar-items {
    float: none;
    padding: 0 20px;
    padding: 0 1.81818rem;
    margin: auto;
    min-width: 85%;
  }
}

@media only screen and (max-width: 674px) {
  .navBar-items {
    display: none;
    padding: 6.5px 20px;
    padding: 0.59091rem 1.81818rem;
  }
}

.navBar-items.active {
  display: table;
}

.navBar-item {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

@media only screen and (max-width: 775px) {
  .navBar-item {
    display: inline-block;
    width: 50%;
  }
}

.navBar-item a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 11px 8px 9px;
  padding: 1rem 0.72727rem 0.81818rem;
  letter-spacing: 0.03em;
}

.navBar-item a:hover, .navBar-item a:focus {
  background-color: #ac3d3e;
}

.navBar-item a:active {
  background-color: #800b0c;
}

@media only screen and (max-width: 674px) {
  .navBar-item a {
    padding: 9.75px;
    padding: 0.88636rem;
  }
}

.navBar-item > a {
  font-size: 16.5px;
  font-size: 1.5rem;
  min-width: 110px;
  font-family: "oswald", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.navDrop {
  background-color: #970D0E;
  position: absolute;
  padding: 3.25px 0 6.5px;
  padding: 0.29545rem 0 0.59091rem;
  top: 100%;
  z-index: 2000;
  min-width: 100%;
  -webkit-box-shadow:  0 3.6px 7.2px 0.34px rgba(0, 0, 0, 0.3);
     -moz-box-shadow:  0 3.6px 7.2px 0.34px rgba(0, 0, 0, 0.3);
          box-shadow:  0 3.6px 7.2px 0.34px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 0 0 3px 3px;
       border-radius: 0 0 3px 3px;
}

.with-js .navDrop {
  display: none;
}

@media only screen and (max-width: 775px) {
  .navDrop {
    display: none !important;
  }
}

.navDrop a {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.searchBox {
  padding: 10px;
  padding: 0.90909rem;
  float: left;
  position: relative;
}

@media only screen and (max-width: 775px) {
  .searchBox {
    padding: 13px 20px;
    padding: 1.18182rem 1.81818rem;
    width: 100%;
  }
}

@media only screen and (max-width: 674px) {
  .searchBox {
    display: none;
  }
}

.searchBox.active {
  display: block;
}

.searchBox > input {
  display: inline-block;
  vertical-align: middle;
}

.searchBox label {
  position: absolute;
}

#q {
  width: 100%;
  padding: 2px;
  font-size: 11px;
  font-size: 1rem;
  border: 1px solid #800b0c;
}

.googlite {
  color: #aaa;
}

.goog {
  color: #000;
}

.searchButton {
  border: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px 12px 10px;
  padding: 0.90909rem 1.81818rem 1.09091rem 0.90909rem;
  position: absolute;
  background-color: #970D0E !important;
  width: auto;
}

@media only screen and (max-width: 775px) {
  .searchButton {
    padding-bottom: 15.6px;
    padding-bottom: 1.41818rem;
  }
}

.pageHeader {
  clear: both;
  margin-left: 20px;
  margin-left: 1.81818rem;
  -webkit-box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
     -moz-box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
  position: relative;
  z-index: 2;
}

.sectionTitle {
  font-family: Times, serif;
  font-size: 3.8em;
  font-weight: normal;
  line-height: 1.1;
  white-space: normal;
  color: #970D0E;
}

/* Standalone title, with no banner background
   Should be used for most pages
*/
.pageHeader > .sectionTitle {
  padding: 26px 20px 0;
  padding: 2.36364rem 1.81818rem 0;
}

.banner {
  background-color: #EDE9D4;
  margin-bottom: 26px;
  margin-bottom: 2.36364rem;
  overflow: hidden;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.banner-dark {
  background-color: #504b4e;
}

.banner-body {
  padding: 13px 25px;
  padding: 1.18182rem 2.27273rem;
  -webkit-box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
     -moz-box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
  position: relative;
  white-space: nowrap;
  /*prevents line-breaks caused by ::before element */
}

@media only screen and (max-width: 674px) {
  .banner-body {
    padding-left: 20px;
    padding-left: 1.81818rem;
    padding-right: 20px;
    padding-right: 1.81818rem;
  }
}

/* Allows for text to start on the right, but sit flush left */
.banner-rev .banner-body {
  direction: rtl;
}

@media only screen and (max-width: 674px) {
  .banner-rev .banner-body {
    direction: ltr;
  }
}

.banner-body:before {
  content: "";
  /* Sets the height of the banner responsively; also allows vertical-alignment */
  height: 231px;
  height: 21rem;
  width: 1px;
  display: inline-block;
  vertical-align: middle;
  margin-left: -1em;
}

@media only screen and (max-width: 460px) {
  .banner-body:before {
    margin-left: -1.5em;
  }
}

.banner-short .banner-body:before {
  height: 126.5px;
  height: 11.5rem;
}

.bannerImg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  max-width: none;
}

@media only screen and (max-width: 674px) {
  .bannerImg {
    opacity: 0.1;
  }
}

.banner-rev .bannerImg {
  left: 0;
  right: auto;
}

.banner-short .bannerImg {
  height: auto;
  min-height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.lt-ie9 .banner-short .bannerImg {
  top: 0;
}

/* Banner text */
.banner .sectionTitle {
  letter-spacing: .35px;
  direction: ltr;
  min-width: 45%;
  max-width: 55%;
  display: inline-block;
  vertical-align: middle;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 674px) {
  .banner .sectionTitle {
    max-width: none;
  }
}

.banner-dark .sectionTitle {
  color: #fff;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}

.sectionTitle-indent {
  display: block;
  padding-left: .5em;
}

@media only screen and (max-width: 674px) {
  .sectionTitle-indent {
    padding-left: .25em;
  }
}

@media only screen and (max-width: 460px) {
  .sectionTitle-indent {
    padding-left: 0;
  }
}

.sectionTitle-small {
  font-size: .8em;
}

.sectionTitle-sub {
  letter-spacing: 0;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: .32em;
  line-height: 1.5;
  color: #655520;
  text-shadow: none;
  display: block;
  padding-top: 6.5px;
  padding-top: 0.59091rem;
}

@media only screen and (max-width: 674px) {
  .sectionTitle-sub {
    max-width: none;
  }
}

.bannerWidget {
  position: relative;
  margin: 0 0 13px 20px;
  margin: 0 0 1.18182rem 1.81818rem;
  max-height: 312px;
  max-height: 28.36364rem;
  overflow: hidden;
}

@media only screen and (max-width: 674px) {
  .bannerWidget {
    max-height: none;
  }
}

.banner-img {
  position: relative;
  z-index: 1;
}

.banner-img a {
  display: block;
  line-height: 0;
  -webkit-box-shadow: inset 25px 0 15px -3px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: inset 25px 0 15px -3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 25px 0 15px -3px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 674px) {
  .banner-img a {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
}

.banner-display img {
  -webkit-box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
     -moz-box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0 5px 5.5px -3.75px rgba(0, 0, 0, 0.35);
  width: 100%;
  position: relative;
  z-index: -1;
}

.banner-caption {
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding-top: 6.5px;
  padding-top: 0.59091rem;
  padding-bottom: 13px;
  padding-bottom: 1.18182rem;
  padding-right: 40px;
  padding-right: 3.63636rem;
  padding-left: 135px;
  margin-bottom: 19.5px;
  margin-bottom: 1.77273rem;
  background-color: #31312f;
  background-color: rgba(49, 49, 47, 0.85);
  max-width: 65%;
}

@media only screen and (max-width: 674px) {
  .banner-caption {
    background-color: #31312f;
    position: relative;
    padding-left: 15px;
    padding-left: 1.36364rem;
    padding-right: 15px;
    padding-right: 1.36364rem;
    max-width: none;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 674px) {
  .capt {
    height: 124px;
    overflow: hidden;
  }
}

.capt a {
  font-size: 1.1em;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
}

.capt-title {
  color: #EDE9D4;
  display: block;
  font-family: Times, serif;
  font-size: 28px;
  font-size: 2.54545rem;
  line-height: 1.2;
}

.capt-more {
  display: block;
  font-weight: bold;
  color: #b65656;
  text-decoration: underline;
}

.banner-nav {
  width: 120px;
  top: 5px;
  bottom: 0;
  position: absolute;
  left: -10px;
  z-index: 2;
  font-size: 12px;
  color: #010101;
  letter-spacing: .5;
}

@media only screen and (max-width: 674px) {
  .banner-nav {
    position: static;
    display: table;
    width: 100%;
  }
}

.banner-nav-item {
  position: relative;
  height: 25%;
  width: 25%;
  /* fallbacks - width and height is assigned via JS */
  cursor: pointer;
  left: -30px;
  -webkit-transition: all 100ms;
          transition: all 100ms;
}

@media only screen and (max-width: 674px) {
  .banner-nav-item {
    height: 65px !important;
    display: table-cell;
    position: static;
  }
}

.banner-nav-item-text {
  font-size: 0;
  -webkit-background-size: cover;
          background-size: cover;
  width: 120px;
  float: left;
  height: 90%;
  border: 4px solid #fff;
  -webkit-box-shadow:  0 3.75px 7.5px 0.35px rgba(0, 0, 0, 0.3125);
     -moz-box-shadow:  0 3.75px 7.5px 0.35px rgba(0, 0, 0, 0.3125);
          box-shadow:  0 3.75px 7.5px 0.35px rgba(0, 0, 0, 0.3125);
}

@media only screen and (max-width: 674px) {
  .banner-nav-item-text {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    width: 100%;
    border-color: #EDE9D4;
  }
}

.banner-nav-item:hover {
  left: -15px;
}

.banner-nav [class*="active"] {
  left: -8px;
  cursor: default;
}

@media only screen and (max-width: 674px) {
  .banner-nav [class*="active"] .banner-nav-item-text {
    border-top-width: 0;
    border-bottom-width: 8px;
    border-color: #31312f;
  }
}

.newsTicker {
  overflow: hidden;
  margin-bottom: 26px;
  margin-bottom: 2.36364rem;
}

.newsTicker-head {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font-family: "oswald", Helvetica, Arial, sans-serif;
  font-size: 14.3px;
  font-size: 1.3rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  white-space: nowrap;
  padding: 0 .35em;
  -moz-border-radius: 5px 0 0 5px;
       border-radius: 5px 0 0 5px;
  background-color: #970D0E;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), color-stop(5%, rgba(255, 255, 255, 0.3)), color-stop(40%, transparent));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3) 5%, transparent 40%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3) 5%, transparent 40%);
}

.newsTicker-body {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  padding: .5em .75em;
  padding-right: 6em;
  background-color: #EDE9D4;
  border: solid #d6cd9e;
  border-width: 1px 1px 1px 0;
  -moz-border-radius: 0 5px 5px 0;
       border-radius: 0 5px 5px 0;
  overflow: hidden;
  position: relative;
}

.newsTicker-items {
  float: left;
  max-width: 100%;
  max-height: 1.2em;
  overflow: hidden;
}

.newsTicker-foot {
  position: absolute;
  right: 1em;
  min-width: 6em;
  overflow: hidden;
  text-align: center;
  background-color: #EDE9D4;
  z-index: 1;
}

.footer {
  background-color: #a78d34;
  padding: 6.5px 20px 13px;
  padding: 0.59091rem 1.81818rem 1.18182rem;
  font-size: 11px;
  font-size: 1rem;
  overflow: auto;
  color: #ede8d6;
}

.footer a {
  color: #ede8d6;
  padding: 1.95px 0;
  padding: 0.17727rem 0;
}

.footer a:hover, .footer a:focus {
  text-decoration: underline;
}

.footer .header a {
  padding-top: 13px;
  padding-top: 1.18182rem;
  color: #fff;
  font-weight: bold;
  border-bottom: 1px solid #d2bb6f;
}

.footerColumn {
  margin-bottom: 26px;
  margin-bottom: 2.36364rem;
}

.footerCopyright {
  clear: both;
  overflow: auto;
  border-top: 1px solid #d2bb6f;
  padding: 13px 0;
  padding: 1.18182rem 0;
}

.lastUpdated {
  text-align: right;
  float: right;
}

@media only screen and (max-width: 674px) {
  .lastUpdated {
    display: block;
    float: none;
    text-align: left;
    margin-bottom: 13px;
    margin-bottom: 1.18182rem;
  }
}

.footer .linkImage {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  min-height: 46px;
  -moz-border-radius: 4px;
       border-radius: 4px;
  color: #970D0E;
  text-decoration: none;
  text-align: center;
  border: 1px solid #d2d0c9;
  border-top-color: #e9e8e4;
  padding: 4.55px 5px;
  padding: 0.41364rem 0.45455rem;
  margin: 9.75px 0;
  margin: 0.88636rem 0;
  left: 3%;
  background-color: #fff;
  background: #fff -webkit-gradient(linear, left top, left bottom, color-stop(25%, #fff), color-stop(95%, #d2d0c9), to(#afab9f));
  background: #fff -webkit-linear-gradient(top, #fff 25%, #d2d0c9 95%, #afab9f 100%);
  background: #fff linear-gradient(to bottom, #fff 25%, #d2d0c9 95%, #afab9f 100%);
  background-position-y: top;
  -webkit-box-shadow:  0 1.5px 3px 0.2px rgba(0, 0, 0, 0.125);
     -moz-box-shadow:  0 1.5px 3px 0.2px rgba(0, 0, 0, 0.125);
          box-shadow:  0 1.5px 3px 0.2px rgba(0, 0, 0, 0.125);
  font-size: 0.1em;
  vertical-align: middle;
}

.footer .linkImage:before {
  content: '';
  height: 35px;
  width: .1em;
  margin-left: -.5em;
  vertical-align: middle;
  display: inline-block;
}

@media only screen and (max-width: 460px) {
  .footer .linkImage {
    display: table;
    width: 100%;
    left: 0;
    top: 0;
    margin-top: 9.75px;
    margin-top: 0.88636rem;
  }
}

.footer .linkImage:first-child {
  left: 0;
}

.footer .linkImage:hover, .footer .linkImage:focus {
  text-decoration: none;
  -webkit-box-shadow:  0 2.25px 4.5px 0.25px rgba(0, 0, 0, 0.1875);
     -moz-box-shadow:  0 2.25px 4.5px 0.25px rgba(0, 0, 0, 0.1875);
          box-shadow:  0 2.25px 4.5px 0.25px rgba(0, 0, 0, 0.1875);
  border-color: #d6d4ce;
  border-top-color: #fff;
  -webkit-background-size: 100% 110%;
          background-size: 100% 110%;
}

.footer .linkImage:hover .linkImage-logo, .footer .linkImage:focus .linkImage-logo {
  opacity: 0.85;
}

.footer .linkImage:active {
  -webkit-box-shadow:  0 1.5px 3px 0.2px rgba(0, 0, 0, 0.125);
     -moz-box-shadow:  0 1.5px 3px 0.2px rgba(0, 0, 0, 0.125);
          box-shadow:  0 1.5px 3px 0.2px rgba(0, 0, 0, 0.125);
  border-color: #9b8331;
}

.linkImage-logo {
  display: inline-block;
  width: 100%;
  max-width: 140px;
  vertical-align: middle;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  -webkit-transition: all .15s ease-out;
          transition: all .15s ease-out;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyHidden.focusable:active,
.visuallyHidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.clearFloat {
  clear: both !important;
}

.hide,
[aria-hidden="true"] {
  display: none !important;
}

.inline {
  display: inline !important;
}

.table {
  display: table !important;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
  *display: inline !important;
  /* IE 7 fix */
  *zoom: 1;
}

.padL10 {
  padding-left: 10px !important;
  padding-left: 0.90909rem !important;
}

.padR10 {
  padding-right: 10px !important;
  padding-right: 0.90909rem !important;
}

.padT10 {
  padding-top: 6.5px !important;
  padding-top: 0.59091rem !important;
}

.padB10 {
  padding-bottom: 6.5px !important;
  padding-bottom: 0.59091rem !important;
}

.padN {
  padding: 0 !important;
}

@media only screen and (min-width: 675px) {
  .bigs-hide {
    display: none !important;
  }
  .bigs-inline {
    display: inline !important;
  }
  .bigs-table {
    display: table !important;
  }
  .bigs-block {
    display: block !important;
  }
  .bigs-inline-block {
    display: inline-block !important;
  }
  .bigs-padL10 {
    padding-left: 10px !important;
    padding-left: 0.90909rem !important;
  }
  .bigs-padR10 {
    padding-right: 10px !important;
    padding-right: 0.90909rem !important;
  }
  .bigs-padT10 {
    padding-top: 6.5px !important;
    padding-top: 0.59091rem !important;
  }
  .bigs-padB10 {
    padding-bottom: 6.5px !important;
    padding-bottom: 0.59091rem !important;
  }
  .bigs-padN {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 674px) {
  .smalls-hide {
    display: none !important;
  }
  .smalls-inline {
    display: inline !important;
  }
  .smalls-table {
    display: table !important;
  }
  .smalls-block {
    display: block !important;
  }
  .smalls-inline-block {
    display: inline-block !important;
  }
  .smalls-padL10 {
    padding-left: 10px !important;
    padding-left: 0.90909rem !important;
  }
  .smalls-padR10 {
    padding-right: 10px !important;
    padding-right: 0.90909rem !important;
  }
  .smalls-padT10 {
    padding-top: 6.5px !important;
    padding-top: 0.59091rem !important;
  }
  .smalls-padB10 {
    padding-bottom: 6.5px !important;
    padding-bottom: 0.59091rem !important;
  }
  .smalls-padN {
    padding: 0 !important;
  }
}

/* IE8 (and below) safeguards */
.lt-ie9 .bigs-hide {
  display: none !important;
}

.lt-ie9 .bigs-inline {
  display: inline !important;
}

.lt-ie9 .bigs-table {
  display: table !important;
}

.lt-ie9 .bigs-block {
  display: block !important;
}

.lt-ie9 .bigs-inline-block {
  display: inline-block !important;
  *display: inline !important;
  /* IE 7 fix */
  *zoom: 1;
}

.lt-ie9 .bigs-hide {
  display: none !important;
}

.lt-ie9 .bigs-padL10 {
  padding-left: 10px !important;
}

.lt-ie9 .bigs-padR10 {
  padding-right: 10px !important;
}

.lt-ie9 .bigs-padT10 {
  padding-top: 10px !important;
}

.lt-ie9 .bigs-padB10 {
  padding-bottom: 10px !important;
}

.lt-ie9 .bigs-padN {
  padding: 0 !important;
}
