/* Responsive grid
 * While there may be many classes,
 * sever compression (gzip), which uses repetition as a means of compression,
 * will keep these from adding too many bytes to your overall css payload
 */

@include grid-init; //Create silent classes

%border-box {
	box-sizing: border-box;
}

// Base wrapper to begin grid-system
// All columns should be wrapped with a "row"-classed wrapper
// example: <div class="row"><div class="column">...</div></div>
.row {
	@extend %grid;
	@extend %border-box;

	> * {
		@extend %grid_reset;
	}
}

.row-middle {
	@extend %grid_middle;
	@extend %border-box;
}

.row-skinny {
	@extend %grid_narrow;
	@extend %border-box;
}

//Column-row combination
// Useful for starting a new set of columns and rows
// Combines two divs into one
.columnRow {
	@extend %border-box;
	@include type-space(padding-left, 1);
	letter-spacing: -.4em;

	//Opera hack
	.o:-o-prefocus,
	& {
		word-spacing: -.43em;
	}
}

// Columns
// default to 100% width.
// All column widths must be accompanied by the "column" class
// example: <div class="column c-1">...</div>
//

.column {
	@extend %grid_item;
	@extend %border-box;
}

// Column widths
// All numbers are a fraction of 11, so c-3 is 3/11 (27.27%)
// For extra flexibility, rows and columns can be nested.
//

.c-1 {
	@extend %one_eleventh;
}

.c-2 {
	@extend %two_elevenths;
}

.c-3 {
	@extend %three_elevenths;
}

.c-4 {
	@extend %four_elevenths;
}

.c-5 {
	@extend %five_elevenths;
}

.c-6 {
	@extend %six_elevenths;
}

.c-7 {
	@extend %seven_elevenths;
}

.c-8 {
	@extend %eight_elevenths;
}

.c-9 {
	@extend %nine_elevenths;
}

.c-10 {
	@extend %ten_elevenths;
}

.c-11 {
	@extend %eleven_elevenths;
}

// Specialty column widths for convenience
.c-half {
	@extend %one_half;
}

.c-quarter {
	@extend %one_quarter;
}

.c-third {
	@extend %one_third;
}

.c-three-quarters {
	@extend %three_quarters;
}

.c-two-thirds {
	@extend %two_thirds;
}

// Small view-port column widths

@include media-query('smalls') {
	.smalls-c-1 {
		@extend %smalls_one_eleventh;
	}

	.smalls-c-2 {
		@extend %smalls_two_elevenths;
	}

	.smalls-c-3 {
		@extend %smalls_three_elevenths;
	}

	.smalls-c-4 {
		@extend %smalls_four_elevenths;
	}

	.smalls-c-5 {
		@extend %smalls_five_elevenths;
	}

	.smalls-c-6 {
		@extend %smalls_six_elevenths;
	}

	.smalls-c-7 {
		@extend %smalls_seven_elevenths;
	}

	.smalls-c-8 {
		@extend %smalls_eight_elevenths;
	}

	.smalls-c-9 {
		@extend %smalls_nine_elevenths;
	}

	.smalls-c-10 {
		@extend %smalls_ten_elevenths;
	}

	.smalls-c-11 {
		@extend %smalls_one_whole;
	}

	.smalls-c-half {
		@extend %smalls_one_half;
	}

	.smalls-c-quarter {
		@extend %smalls_one_quarter;
	}

	.smalls-c-third {
		@extend %smalls_one_third;
	}

	.smalls-c-three-quarters {
		@extend %smalls_three_quarters;
	}

	.smalls-c-two-thirds {
		@extend %smalls_two_thirds;
	}
}

// Push widths, for moving columns to the right
.p-0 {
	@extend %push_zero;
}

.p-1 {
	@extend %push_one_eleventh;
}

.p-2 {
	@extend %push_two_elevenths;
}

.p-3 {
	@extend %push_three_elevenths;
}

.p-4 {
	@extend %push_four_elevenths;
}

.p-5 {
	@extend %push_five_elevenths;
}

.p-6 {
	@extend %push_six_elevenths;
}

.p-7 {
	@extend %push_seven_elevenths;
}

.p-8 {
	@extend %push_eight_elevenths;
}

.p-9 {
	@extend %push_nine_elevenths;
}

.p-10 {
	@extend %push_ten_elevenths;
}

.p-half {
	@extend %push_one_half;
}

.p-quarter {
	@extend %push_one_quarter;
}

.p-third {
	@extend %push_one_third;
}

.p-three-quarters {
	@extend %push_three_quarters;
}

.p-two-thirds {
	@extend %push_two_thirds;
}

@include media-query('smalls') {
	.smalls-p-0 {
		@extend %smalls_push_zero;
	}

	.smalls-p-1 {
		@extend %smalls_push_one_eleventh;
	}

	.smalls-p-2 {
		@extend %smalls_push_two_elevenths;
	}

	.smalls-p-3 {
		@extend %smalls_push_three_elevenths;
	}

	.smalls-p-4 {
		@extend %smalls_push_four_elevenths;
	}

	.smalls-p-5 {
		@extend %smalls_push_five_elevenths;
	}

	.smalls-p-6 {
		@extend %smalls_push_six_elevenths;
	}

	.smalls-p-7 {
		@extend %smalls_push_seven_elevenths;
	}

	.smalls-p-8 {
		@extend %smalls_push_eight_elevenths;
	}

	.smalls-p-9 {
		@extend %smalls_push_nine_elevenths;
	}

	.smalls-p-10 {
		@extend %smalls_push_ten_elevenths;
	}

	.smalls-p-half {
		@extend %smalls_push_one_half;
	}

	.smalls-p-quarter {
		@extend %smalls_push_one_quarter;
	}

	.smalls-p-third {
		@extend %smalls_push_one_third;
	}

	.smalls-p-three-quarters {
		@extend %smalls-push_three_quarters;
	}

	.smalls-p-two-thirds {
		@extend %smalls-push_two_thirds;
	}
}
