//Footer-specific colors
$color-footer: darken($color-main-bg, 11%);
$color-footer-light: mix(#fff, $color-footer, 80%);

.footer {
	@extend %border-box;
	overflow: auto;
	@include type-space(padding, .5 1 1);
	background-color: $color-footer;
	@include type-scale(font-size, 1, 12px);
	color: $color-footer-light;
}

.footer a {
	color: $color-footer-light;
	@include type-space(padding, .15 0);

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.footer .header a {
	border-bottom: 1px solid lighten($color-footer, 20%);
	@include type-space(padding-top, 1);
	color: #fff;
	font-weight: bold;
}

.footerColumn {
	@extend %border-box;
	@extend %one_quarter;
	@extend %smalls_one_half;
	@include type-space(margin-bottom, 2);
}

.footerCopyright {
	clear: both;
	border-top: 1px solid lighten($color-footer, 20%);
	overflow: auto;
	@include type-space(padding, 1 0);
}

.lastUpdated {
	float: right;
	text-align: right;

	@include media-query('smalls') {
		display: block;
		float: none;
		text-align: left;
		@include type-space(margin-bottom, 1);
	}
}

$color-footer-button: darken(desaturate($color-footer-light, 30%), 8%);

.footer .linkImage {
	@extend %border-box;
	display: inline-block;
	position: relative;
	left: 3%;
	border: 1px solid $color-footer-button;
	border-top-color: lighten($color-footer-button, 10%);
	border-radius: 4px;
	min-height: 46px;
	background-color: #fff;
	background-image: linear-gradient(to bottom, #fff 25%,
		$color-footer-button 95%,
		darken($color-footer-button, 15%) 100%);
	background-position-y: top;
	vertical-align: middle;
	text-align: center;
	color: $badger-red;
	white-space: nowrap;
	font-size: .1em;
	text-decoration: none;
	@include type-space(padding, .35 .25);
	@include type-space(margin, .75 0);
	@include shadow(.5);

	&:before {
		content: '';
		display: inline-block;
		margin-left: -.5em;
		width: .1em;
		height: 35px;
		vertical-align: middle;
	}

	@include media-query('small') {
		display: table;
		top: 0;
		left: 0;
		@include type-space(margin-top, .75);
		width: 100%;
	}

}

.footer .linkImage:first-child {
	left: 0;
}

.footer .linkImage {
	&:hover,
	&:focus {
		border-color: lighten($color-footer-button, 2%);
		border-top-color: #fff;
		background-size: 100% 110%;
		text-decoration: none;
		@include shadow(.75);

		.linkImage-logo {
			opacity: .85;
		}
	}

	&:active {
		border-color: darken($color-footer, 3%);
		@include shadow(.5);
	}
}

.linkImage-logo {
	display: inline-block;
	width: 100%;
	max-width: 140px;
	vertical-align: middle;
}
