.form-grid > .column {
	@include type-space((padding-top, padding-bottom), .5);
	vertical-align: middle;
}

.form-grid input,
.form-grid textarea,
.form-grid select {
	@extend %border-box;
	width: 100%;
}

#form_body {
	@include type-space(margin, 0 0 2 0);
	padding: 0;
}
