figure {
	display: table;
	width: 1px;
}

figure img,
figure figcaption {
	display: table-row;
	vertical-align: bottom;
}

figure img {
	max-width: none;
	@include type-space(margin-bottom, .75);
}

figure figcaption {
	font-size: .9em;
}

/* Matte Image
 * Images with a white and gray border,
 * like a framed photo with a matte around it
 */
.imgMatte {
	@extend %border-box;
	border: 1px solid #cbcbcb;
	padding: 4px;
	background-color: #fff;
}

.imgRight {
    float: right;
    @include type-space(margin-left, .5);
}

.imgLeft {
    float: left;
    @include type-space(margin-right, .5);
}


.imgCard {
	display: block;
	border: 1px solid transparent;
	width: 100%;
	text-align: center;

	&:hover {
		border-color: $smph-tan;
	}
}

.imgCard-media {
	max-height: 200px;
	@include type-space(padding, .25);
}

.imgCard-media > img {
	display: inline-block;
	position: relative;
}

.imgCard-head {
	display: block;
	@include type-space(padding, .5 .25 0);
	color: $badger-red;
	letter-spacing: .03em;
	font-family: $font-condensed;
	font-size: 1.4em;
}

.imgCard-body {
	@extend %border-box;
	margin: 0;
	@include type-space(margin-bottom, 1.5);
	overflow: hidden;
	@include type-space(padding, .5 .25 0);
	color: $smph-slate;
	font-size: .9em;
	text-overflow: ellipsis;
}
