.wrapper {
	max-width: 840px;
	margin: 0 auto;
}

.page {
	@extend %border-box;
	background-color: #fff;
	box-shadow: 0 5px 6px rgba(0,0,0,.35);
}

.content {
	@include type-space(padding, 0 1 1 0);
}

.content-main {
	@extend %eight_elevenths;
	@extend %smalls_one_whole;
	@include type-space(padding, 0 1 2 1);
	@include media-query(smalls) {
		@include type-space(padding-left, 2);
	}
}

.content-article {
	@extend %seven_elevenths;
	@extend %smalls_one_whole;
	@include type-space(padding-bottom, 2);
}

.content-aside {
	@extend %four_elevenths;
	@extend %smalls_one_whole;
}
