.primaryPod {
	@extend %border-box;
	clear: both;
	border-radius: 4px;
	overflow: auto;
	@include type-space(margin-bottom, 1);
	box-shadow: 0 2px 2px -1px rgba(darken($uw-gold, 60%), .4);
}

.primaryPod-head {
	border-radius: 4px 4px 0 0;
	padding: .65em .5em;
	background-color: $badger-red;
	background-image: linear-gradient(
		to bottom,
		rgba(#fff, .8),
		rgba(#fff, .3) 1.5px,
		transparent 40%
	);
	color: #fff;
	letter-spacing: .05em;
	font-family: $font-condensed;
	text-transform: uppercase;
	@include type-scale(font-size, 1.3, 15px);
}

.primaryPod-body {
	margin: 0;
	background-color: $smph-tan;
	@include type-space(padding, 1 .5 1.5);
	list-style: none;
}

.primaryPod p {
	@include type-space(margin-bottom, .5);
}

.date-grid {
	@extend %grid_narrow;
}

.date-grid > .column {
	@include type-space(padding-bottom, 1);
	vertical-align: middle;
}

.rightPod {
	@extend %border-box;
	@extend %one_third;
	float: right;
	@include type-space(margin, 0 0 1 .5);
	border: 1px solid $smph-tan-dark;
	@include type-scale(padding, 1, 12px);
	min-width: 189px;

	@include media-query('max-width' 330px) {
		float: none;
		margin-right: auto;
		margin-left: auto;
		width: 100%;
		min-width: none;
	}
}

.rightPod p,
.rightPod li {
	@include type-space(padding-bottom, .5);
}

.rightPod ul {
	margin: 0;
	list-style: none;
}
