[class*="primaryPod"] {
	border-radius: 4px 4px 0 0;
	overflow: hidden;
}

.date-grid {
	@extend %grid_narrow;
	@include type-space(padding, 0 .25)
}

.date-grid > .column {
	@include type-space(padding, .25 0 .25 .5);
	vertical-align: middle;
}
