.navBar {
	background-color: $color-main-nav;
	@include clearfix();
}

.navBar-items {
	float: left;
	display: table;
	table-layout: auto;
	@extend %eight_elevenths;
	letter-spacing: -0.4em;

	@include media-query('lap') {
		float: none;
		@include type-space(padding, 0 1);
		margin: auto;
		min-width: 85%;
	}

	@include media-query('smalls') {
		display: none;
		@include type-space(padding, .5 1);
	}

}

.navBar-items.active {
	display: table;
}

.navBar-item {
	position: relative;
	display: table-cell;
	vertical-align: middle;

	@include media-query('lap') {
		display: inline-block;
		width: 50%;
	}
}

.navDrop {
	background-color: $color-main-nav;
	position: absolute;
	@include type-space(padding, .25 0 .5);
	top: 100%;
	z-index: 2000;
	min-width: 100%;
	@include shadow(1.2);
	border-radius: 0 0 3px 3px;

	.with-js & {
		display: none;
	}

	@include media-query(('smalls', 'lap')) {
		display: none !important;
	}
}

.navBar-item a {
	color: #fff;
	text-decoration: none;
	display: block;
	@include rems(padding, 11px 8px 9px);
	letter-spacing: 0.03em;

	&:hover,
	&:focus {
		background-color: mix(white, $color-main-nav, 20%)
	}

	&:active {
		background-color: darken($color-main-nav, 5%);
	}

	@include media-query('smalls') {
		@include type-space(padding, .75);
	}
}

.navBar-item > a {
	font-size: 1.5em;
	min-width: 110px;
	font-family: $font-condensed;
	text-transform: uppercase;
	text-align: center;
}

.searchBox {
	@include rems(padding, 10px);
	@extend %three_elevenths;
	float: left;
	@extend %border-box;
	position: relative;

	@include media-query('lap') {
		@include type-space(padding, 1 1);
		width: 100%;
	}

	@include media-query('smalls') {
		display: none;
	}
}

.searchBox.active {
	display: block;
}

.searchBox > input {
	display: inline-block;
	vertical-align: middle;
}

.searchBox label {
	position: absolute;
}

#q {
	width: 100%;
	padding: 2px;
	@include type-space('font-size', .8);
	border: 1px solid darken($color-main-nav, 5%);
}

.googlite {
	color: #aaa;
}

.goog {
	color: #000;
}

.searchButton {
	border: 0;
	right: 0;
	bottom: 0;
	@include rems(padding, 10px $grid-gutter 12px 10px);
	position: absolute;
	background-color: $color-main-nav !important; //make sure active state keeps background color
	width: auto;

	@include media-query('lap') {
		@include type-space(padding-bottom, 1.2);
	}
}
