.page-header {
	position: relative;
	z-index: 1;
	clear: both;
}

.sectionTitle {
	@include rems(font-size, 42px);
	@include type-space(padding, 2 1 0);
	font-family: $font-serif;
	color: $badger-red;
	font-weight: normal;
	@include shadow(1, inset);
}
