@font-face {
    font-family: 'oswald';
    src: url('fonts/oswald.eot');
    src: url('fonts/oswald.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald.woff2') format('woff2'),
         url('fonts/oswald.woff') format('woff'),
         url('fonts/oswald.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
