//========================================================
// Standard CSS resets
//========================================================

html {
	/* Fix Firefox and Safari 'scrollbar jump' */
	overflow-y: scroll;
	font-size: percentage($type-font-size/16);
}
a {
	color: $badger-red;
	text-decoration: underline;
	outline: none; /* FireFox link outline fix */
}

a:hover {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%; /* this is the key! */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	@include rems('font-size', $base-font-size);
	line-height: ($base-line-height / $base-font-size);
	/*background-color: #c6aa53;*/
	background-image: url("../images/bg_diagonal.gif");
}

p {
	margin:0;
	padding:0;
}

img {
	border:0;
}
