html {
	/* Fix Firefox and Safari 'scrollbar jump' */
	overflow-y: scroll;
}
a {
	color: #8f0505;
	text-decoration: underline;
	outline: none; /* FireFox link outline fix */
}
a:hover {
	text-decoration: none;
}
body {
	margin: 0;
	padding: 0;
	height: 100%; /* this is the key! */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 62%;
	/*background-color: #c6aa53;
	background-color: #0033CC;*/
	background-image: url(../images/bg_diagonal.gif);
}
